@charset "UTF-8";
/* line 1, ../scss/base/_reboot.scss */
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* line 7, ../scss/base/_reboot.scss */
html {
  box-sizing: border-box;
  margin: 0;
  font-family: "Roboto", serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
  text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}

/* line 19, ../scss/base/_reboot.scss */
article,
aside,
dialog,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

/* line 33, ../scss/base/_reboot.scss */
body {
  margin: 0;
  text-align: left;
  background: #eee;
  font-size: 1.125rem;
}

/* line 40, ../scss/base/_reboot.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 1.25rem;
  line-height: 1.2;
  font-weight: 600;
  font-family: "Titillium Web";
  letter-spacing: -0.48px;
  color: #303040;
}

/* line 55, ../scss/base/_reboot.scss */
h1 {
  font-size: 2.5rem;
}

/* line 59, ../scss/base/_reboot.scss */
h2 {
  font-size: 1.75rem;
}

/* line 63, ../scss/base/_reboot.scss */
h3 {
  font-size: 1.5rem;
}

/* line 67, ../scss/base/_reboot.scss */
h4 {
  font-size: 1.33rem;
}

/* line 71, ../scss/base/_reboot.scss */
h5 {
  font-size: 1.25rem;
}

/* line 75, ../scss/base/_reboot.scss */
p {
  margin: 0;
}

/* line 79, ../scss/base/_reboot.scss */
p + p {
  margin: 1.25rem 0 0 0;
}

/* line 83, ../scss/base/_reboot.scss */
ol,
ul {
  margin: 0 0 1.25rem 0;
}

/* line 88, ../scss/base/_reboot.scss */
ol ol,
ul ul {
  margin-bottom: 0;
}

/* line 93, ../scss/base/_reboot.scss */
P + ul {
  margin-top: 1.25rem;
  font-style: italic;
}

/* line 98, ../scss/base/_reboot.scss */
p + ol {
  margin-top: 1.25rem;
  font-style: italic;
}

/* line 103, ../scss/base/_reboot.scss */
strong {
  font-weight: 600;
}

/* line 107, ../scss/base/_reboot.scss */
a {
  text-decoration: none;
  color: #1f305e;
  border-bottom: 1px solid transparent;
  transition: all 0.3333s ease-in-out;
}
/* line 113, ../scss/base/_reboot.scss */
a:hover {
  text-decoration: none;
  border-bottom-color: currentColor;
}

/* line 119, ../scss/base/_reboot.scss */
img {
  display: block;
  margin: 0;
  border: 0;
  max-width: 100%;
  height: auto;
}

/* line 127, ../scss/base/_reboot.scss */
.dialog-off-canvas-main-canvas {
  position: relative;
}

/* line 1, ../scss/layout/_page.scss */
.page-header {
  position: relative;
  background: #303040;
  color: white;
  width: 100%;
  display: flex;
  z-index: 3;
}
@media (min-width: 768px) {
  /* line 1, ../scss/layout/_page.scss */
  .page-header {
    height: unset;
    display: block;
    position: fixed;
  }
}

/* line 16, ../scss/layout/_page.scss */
.page-content {
  z-index: 1;
}
@media (min-width: 768px) {
  /* line 16, ../scss/layout/_page.scss */
  .page-content {
    padding-top: 64px;
  }
}

/* line 24, ../scss/layout/_page.scss */
body.page-node-type-photo-album,
body.path-node.page-node-type-event,
body.path-node.page-node-type-borrow-item,
body.path-node.page-node-type-meeting {
  background: white;
}
/* line 30, ../scss/layout/_page.scss */
body.page-node-type-photo-album .page-container,
body.path-node.page-node-type-event .page-container,
body.path-node.page-node-type-borrow-item .page-container,
body.path-node.page-node-type-meeting .page-container {
  padding-top: 0;
}

@media (min-width: 1024px) {
  /* line 35, ../scss/layout/_page.scss */
  body.has-aside .page-container {
    display: flex;
  }
  /* line 39, ../scss/layout/_page.scss */
  body.has-aside .page-container .main-content {
    width: 66.666%;
    padding-right: 1rem;
  }
  /* line 44, ../scss/layout/_page.scss */
  body.has-aside .page-container .aside {
    width: 33.333%;
  }
  /* line 47, ../scss/layout/_page.scss */
  body.has-aside .page-container .aside .region-aside {
    position: sticky;
    top: 80px;
  }
}
@media (min-width: 1280px) {
  /* line 35, ../scss/layout/_page.scss */
  body.has-aside .page-container {
    display: flex;
  }
  /* line 57, ../scss/layout/_page.scss */
  body.has-aside .page-container .main-content {
    width: 70%;
    padding-right: 1rem;
  }
  /* line 62, ../scss/layout/_page.scss */
  body.has-aside .page-container .aside {
    width: 30%;
  }
}

@media (min-width: 1024px) {
  /* line 71, ../scss/layout/_page.scss */
  body.toolbar-tray-open.has-aside.toolbar-vertical .page-container aside .region-aside {
    top: 120px;
  }
}

@media (min-width: 1024px) {
  /* line 81, ../scss/layout/_page.scss */
  body.toolbar-tray-open.has-aside .page-container aside .region-aside {
    top: 160px;
  }
}

/* line 1, ../scss/regions/_region--header.scss */
.region-header {
  height: 4rem;
  display: flex;
  max-width: 1280px;
  align-items: center;
  margin: 0 auto;
  flex-grow: 1;
  font-size: 1rem;
}
@media (min-width: 768px) {
  /* line 1, ../scss/regions/_region--header.scss */
  .region-header {
    padding-right: 2rem;
    flex-grow: 0;
  }
}

/* line 17, ../scss/regions/_region--header.scss */
.toggle-button a {
  height: 4rem;
  width: 4rem;
  color: white;
  position: absolute;
  top: 0;
  z-index: 9;
  border: none;
  display: block;
  text-align: center;
  font-size: 1.25rem;
  line-height: 3;
  cursor: pointer;
}
/* line 31, ../scss/regions/_region--header.scss */
.toggle-button a:hover {
  background: rgba(0, 0, 0, 0.8);
}
@media (min-width: 768px) {
  /* line 16, ../scss/regions/_region--header.scss */
  .toggle-button {
    display: none;
  }
}
/* line 40, ../scss/regions/_region--header.scss */
.toggle-button.menu-toggler a {
  left: 0;
}
/* line 44, ../scss/regions/_region--header.scss */
.toggle-button.search-toggler a {
  right: 0;
}

/* line 1, ../scss/regions/_region--content.scss */
.page-container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
}
@media (min-width: 768px) {
  /* line 1, ../scss/regions/_region--content.scss */
  .page-container {
    padding: 1rem 2rem;
  }
}
/* line 10, ../scss/regions/_region--content.scss */
.page-container .block-system-main-block {
  margin-bottom: 1rem;
}

/* line 16, ../scss/regions/_region--content.scss */
.path-user .page-container {
  max-width: 1024px;
}

/* line 21, ../scss/regions/_region--content.scss */
.block-page-title-block h1 {
  text-align: center;
}

/* line 2, ../scss/regions/_region--footer.scss */
.page-footer .disclaimer {
  font-size: 0.9rem;
  text-align: center;
  color: white;
  background: black;
  padding: 1rem;
}
/* line 9, ../scss/regions/_region--footer.scss */
.page-footer .disclaimer a {
  color: white;
}

/* line 1, ../scss/navigation/_tabs.scss */
ul.tabs {
  margin: 0 0 1.25rem;
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}
/* line 9, ../scss/navigation/_tabs.scss */
ul.tabs li {
  margin: 0 0 0.5rem 0;
}
@media (min-width: 540px) {
  /* line 9, ../scss/navigation/_tabs.scss */
  ul.tabs li {
    margin-right: 0.5rem;
  }
}
/* line 16, ../scss/navigation/_tabs.scss */
ul.tabs li a {
  background: white;
  padding: 0.5rem;
  display: block;
  border: 1px solid darkgray;
  border-radius: 4px;
  font-size: 1rem;
  white-space: nowrap;
  color: #1f305e;
}
/* line 26, ../scss/navigation/_tabs.scss */
ul.tabs li a:hover {
  background: #e0e0e0;
}
/* line 31, ../scss/navigation/_tabs.scss */
ul.tabs li.is-active a {
  color: #1f305e;
  background: #e0e0e0;
}
@media (min-width: 540px) {
  /* line 1, ../scss/navigation/_tabs.scss */
  ul.tabs {
    flex-direction: row;
    border-bottom: 1px solid #1f305e;
  }
  /* line 41, ../scss/navigation/_tabs.scss */
  ul.tabs li {
    margin: 0;
  }
  /* line 44, ../scss/navigation/_tabs.scss */
  ul.tabs li a {
    border: none;
    border-bottom: 3px solid transparent;
    background: transparent;
    border-radius: 0;
  }
  /* line 50, ../scss/navigation/_tabs.scss */
  ul.tabs li a:hover {
    border-bottom: 3px solid #1f305e;
    background: transparent;
  }
  /* line 56, ../scss/navigation/_tabs.scss */
  ul.tabs li.is-active a {
    border-bottom: 3px solid #1f305e;
    background: transparent;
  }
}

/* line 1, ../scss/navigation/_menu--main.scss */
.block-menu.menu--main {
  display: none;
}
@media (min-width: 768px) {
  /* line 1, ../scss/navigation/_menu--main.scss */
  .block-menu.menu--main {
    display: block;
    flex-grow: 1;
  }
}
/* line 9, ../scss/navigation/_menu--main.scss */
.block-menu.menu--main a {
  color: white;
}
/* line 13, ../scss/navigation/_menu--main.scss */
.block-menu.menu--main > ul.menu {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}
/* line 20, ../scss/navigation/_menu--main.scss */
.block-menu.menu--main > ul.menu > li {
  position: relative;
  height: 4rem;
}
/* line 24, ../scss/navigation/_menu--main.scss */
.block-menu.menu--main > ul.menu > li:last-child {
  margin-left: auto;
}
/* line 28, ../scss/navigation/_menu--main.scss */
.block-menu.menu--main > ul.menu > li > a {
  padding: 1rem;
  height: 100%;
  font-weight: 400;
  border: none;
  display: block;
  line-height: 2;
}
/* line 36, ../scss/navigation/_menu--main.scss */
.block-menu.menu--main > ul.menu > li > a:hover, .block-menu.menu--main > ul.menu > li > a:focus, .block-menu.menu--main > ul.menu > li > a.is-active {
  background: #737396;
}
/* line 45, ../scss/navigation/_menu--main.scss */
.block-menu.menu--main > ul.menu ul {
  display: none;
  position: absolute;
  padding: 0;
  margin: 0;
  right: 0;
  z-index: 9999;
  min-width: 10rem;
  background: white;
  list-style: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
/* line 57, ../scss/navigation/_menu--main.scss */
.block-menu.menu--main > ul.menu ul a {
  color: black;
  width: 100%;
  padding: 0.5rem 1rem;
  display: block;
  border: none;
  white-space: nowrap;
}
/* line 65, ../scss/navigation/_menu--main.scss */
.block-menu.menu--main > ul.menu ul a:hover, .block-menu.menu--main > ul.menu ul a:focus {
  background: #f0f0f0;
}
/* line 73, ../scss/navigation/_menu--main.scss */
.block-menu.menu--main > ul.menu li:hover ul,
.block-menu.menu--main > ul.menu li:focus ul {
  display: flex;
  flex-direction: column;
}

/* line 1, ../scss/navigation/_menu--mobile.scss */
.mobile-menu-wrapper {
  height: 100vh;
  width: 75vw;
  padding: 1rem;
  flex-direction: column;
  background: rgba(48, 48, 64, 0.95);
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  transition: all 0.5s ease-in-out;
  z-index: 11;
}
/* line 14, ../scss/navigation/_menu--mobile.scss */
.mobile-menu-wrapper ul {
  padding: 0;
  margin: 1rem 0 0;
  list-style: none;
}
/* line 19, ../scss/navigation/_menu--mobile.scss */
.mobile-menu-wrapper ul li {
  margin-bottom: 0.5rem;
}
/* line 23, ../scss/navigation/_menu--mobile.scss */
.mobile-menu-wrapper ul li.menu-item--expanded > a {
  display: none;
}
/* line 28, ../scss/navigation/_menu--mobile.scss */
.mobile-menu-wrapper ul li a {
  color: white;
  font-family: "Titillium Web";
  font-size: 1.25rem;
}

/* line 37, ../scss/navigation/_menu--mobile.scss */
.mobile-menu-blinder {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease-in-out;
}

/* line 49, ../scss/navigation/_menu--mobile.scss */
body.search-bar-open {
  overflow-y: hidden;
}
/* line 52, ../scss/navigation/_menu--mobile.scss */
body.search-bar-open .mobile-menu-blinder {
  opacity: 1;
  pointer-events: all;
}

/* line 58, ../scss/navigation/_menu--mobile.scss */
body.mobile-menu-open {
  overflow-y: hidden;
}
/* line 61, ../scss/navigation/_menu--mobile.scss */
body.mobile-menu-open .mobile-menu-wrapper {
  transform: translateX(0%);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.35);
}
/* line 66, ../scss/navigation/_menu--mobile.scss */
body.mobile-menu-open .mobile-menu-blinder {
  opacity: 1;
  pointer-events: all;
}

/* line 73, ../scss/navigation/_menu--mobile.scss */
body.adminimal-admin-toolbar .mobile-menu-wrapper {
  top: 40px;
}

/* line 1, ../scss/navigation/_menu--account.scss */
.menu--account {
  display: none;
  margin-left: auto;
}
@media (min-width: 768px) {
  /* line 1, ../scss/navigation/_menu--account.scss */
  .menu--account {
    display: block;
  }
}
/* line 9, ../scss/navigation/_menu--account.scss */
.menu--account > ul.menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}
/* line 15, ../scss/navigation/_menu--account.scss */
.menu--account > ul.menu > li {
  position: relative;
}
/* line 18, ../scss/navigation/_menu--account.scss */
.menu--account > ul.menu > li > a {
  color: white;
  padding: 1rem;
  height: 100%;
  font-weight: 400;
  border: none;
  display: block;
  line-height: 1.8;
}
/* line 27, ../scss/navigation/_menu--account.scss */
.menu--account > ul.menu > li > a:hover, .menu--account > ul.menu > li > a:focus, .menu--account > ul.menu > li > a.is-active {
  border: none;
  background: #737396;
}
/* line 36, ../scss/navigation/_menu--account.scss */
.menu--account > ul.menu ul {
  display: none;
  position: absolute;
  padding: 0;
  margin: 0;
  right: 0;
  z-index: 9999;
  min-width: 10rem;
  background: white;
  list-style: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
/* line 48, ../scss/navigation/_menu--account.scss */
.menu--account > ul.menu ul a {
  color: black;
  width: 100%;
  padding: 0.5rem 1rem;
  display: block;
  border: none;
  white-space: nowrap;
}
/* line 56, ../scss/navigation/_menu--account.scss */
.menu--account > ul.menu ul a:hover, .menu--account > ul.menu ul a:focus {
  background: #f0f0f0;
}
/* line 63, ../scss/navigation/_menu--account.scss */
.menu--account > ul.menu li:hover ul {
  display: flex;
  flex-direction: column;
}

/* line 70, ../scss/navigation/_menu--account.scss */
.region-above .menu--account {
  background: #3a579a;
}
/* line 73, ../scss/navigation/_menu--account.scss */
.region-above .menu--account ul.menu {
  justify-content: center;
}
/* line 78, ../scss/navigation/_menu--account.scss */
.region-above .menu--account ul.menu > li > a:hover, .region-above .menu--account ul.menu > li > a:focus, .region-above .menu--account ul.menu > li > a.is-active {
  background: #4c6dbb;
}

/* line 1, ../scss/blocks/_block.scss */
.aside .block {
  background: white;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 6px;
  box-shadow: 0 0px 16px rgba(0, 0, 0, 0.1);
  font-size: 1rem;
}
/* line 9, ../scss/blocks/_block.scss */
.aside .block h2 {
  font-size: 1.5rem;
}
/* line 13, ../scss/blocks/_block.scss */
.aside .block h3 {
  font-size: 1.2rem;
  margin-bottom: 0;
}

/* line 1, ../scss/blocks/_block--system-branding.scss */
.block-system-branding-block {
  background: #3a579a;
  width: 100%;
}
@media (min-width: 768px) {
  /* line 1, ../scss/blocks/_block--system-branding.scss */
  .block-system-branding-block {
    width: auto;
  }
}
/* line 9, ../scss/blocks/_block--system-branding.scss */
.block-system-branding-block a.site-logo {
  color: white;
  display: block;
  border: none;
  line-height: 1;
  font-family: "Titillium Web";
  padding: 1rem;
  width: 100%;
}
/* line 18, ../scss/blocks/_block--system-branding.scss */
.block-system-branding-block a.site-logo img {
  height: 2rem;
  width: auto;
  margin: 0 auto;
}

/* line 1, ../scss/blocks/_block--search.scss */
.block-search {
  position: absolute;
  top: 4rem;
  width: 100%;
  background: white;
  z-index: 9998;
  left: 0;
  padding: 1rem;
  transform: translateY(calc(-100% - 4rem));
  transition: all 600ms ease-in-out;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 2;
}
/* line 14, ../scss/blocks/_block--search.scss */
body.search-bar-open .block-search {
  transform: translate(0);
}
/* line 18, ../scss/blocks/_block--search.scss */
.block-search h2 {
  text-align: center;
}
/* line 22, ../scss/blocks/_block--search.scss */
.block-search form {
  width: 100%;
  display: flex;
}
/* line 26, ../scss/blocks/_block--search.scss */
.block-search form .form-item {
  flex-grow: 1;
}
/* line 29, ../scss/blocks/_block--search.scss */
.block-search form .form-item input {
  width: 100%;
  padding: 14px;
  border-radius: 2px 0 0 2px;
}
/* line 37, ../scss/blocks/_block--search.scss */
.block-search form .form-actions input {
  border-radius: 0 2px 2px 0;
}
/* line 42, ../scss/blocks/_block--search.scss */
.block-search form .form-item,
.block-search form .form-actions {
  margin-bottom: 0;
}
/* line 46, ../scss/blocks/_block--search.scss */
.block-search form .form-item input,
.block-search form .form-actions input {
  margin-bottom: 0;
}

/* line 1, ../scss/forms/_form-components.scss */
input,
button,
input[type="submit"],
textarea {
  transition: all 0.3333s ease-in-out;
  border-radius: 2px;
}

/* line 9, ../scss/forms/_form-components.scss */
textarea,
input[type="search"],
input[type="email"],
input[type="password"],
input[type="text"],
input[type="date"],
input[type="time"],
input[type="tel"] {
  max-width: 100%;
  border: 1px solid #cacbcb;
  padding: 0.75rem;
  font-size: 1.125rem;
  font-family: "Roboto Condensed", sans-serif;
  box-shadow: inset 0 0 15px rgba(96, 96, 96, 0.15);
  margin-bottom: 1.25rem;
}
/* line 18, ../scss/forms/_form-components.scss */
textarea:focus,
input[type="search"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="text"]:focus,
input[type="date"]:focus,
input[type="time"]:focus,
input[type="tel"]:focus, textarea:hover,
input[type="search"]:hover,
input[type="email"]:hover,
input[type="password"]:hover,
input[type="text"]:hover,
input[type="date"]:hover,
input[type="time"]:hover,
input[type="tel"]:hover {
  outline: none;
  border: 1px solid #303040;
  box-shadow: none;
  box-shadow: 0 0 5px rgba(48, 48, 64, 0.4);
}

/* line 39, ../scss/forms/_form-components.scss */
input[type="submit"],
button,
.button {
  background: #303040;
  color: white;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border: 1px solid #303040;
  font-weight: 600;
  font-family: "Titillium Web";
  margin-bottom: 1.25rem;
}
/* line 52, ../scss/forms/_form-components.scss */
input[type="submit"]:hover,
button:hover,
.button:hover, input[type="submit"]:focus,
button:focus,
.button:focus {
  background-color: #040406;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
}

/* line 65, ../scss/forms/_form-components.scss */
.button-light {
  border: 1px solid #303040;
  background-color: transparent;
  color: #303040;
}
/* line 70, ../scss/forms/_form-components.scss */
.button-light:hover, .button-light:focus {
  border: 1px solid #303040;
  background-color: #cacad8;
  color: #303040;
}

/* line 78, ../scss/forms/_form-components.scss */
select {
  -webkit-appearance: none;
  appearance: none;
  margin-bottom: 1rem;
  border-radius: 2px;
  border: 1px solid #cacbcb;
  box-shadow: inset 0 0 15px rgba(96, 96, 96, 0.15);
  padding: calc(1rem - 1px) 2.5rem;
  padding-left: 1.5rem;
  font-size: 1.125rem;
  font-family: "Roboto Condensed", sans-serif;
  background-color: white;
  background-image: url(../img/arrow-down.svg);
  background-position: right 1rem center;
  background-repeat: no-repeat;
  background-size: .75rem;
  color: #303040;
}
/* line 96, ../scss/forms/_form-components.scss */
select:focus {
  outline: none;
  border: 1px solid #303040;
  box-shadow: 0 0 5px rgba(48, 48, 64, 0.4);
}

/* line 103, ../scss/forms/_form-components.scss */
legend,
label,
.form-composite > legend,
.label {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  margin-bottom: 0.25rem;
  font-size: 1rem;
}

/* line 113, ../scss/forms/_form-components.scss */
.form-type-managed-file .description {
  display: none;
}

/* line 1, ../scss/forms/_form-elements.scss */
.form-item {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0 0 1.25rem 0;
}
/* line 7, ../scss/forms/_form-elements.scss */
.form-item label {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  margin-bottom: 0.25rem;
  font-size: 1rem;
}
/* line 14, ../scss/forms/_form-elements.scss */
.form-item .description {
  font-size: 1rem;
  font-weight: 300;
}
/* line 19, ../scss/forms/_form-elements.scss */
.form-item.form-type-checkbox {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
}
/* line 24, ../scss/forms/_form-elements.scss */
.form-item.form-type-checkbox input {
  margin-right: 0.5rem;
}
/* line 28, ../scss/forms/_form-elements.scss */
.form-item.form-type-checkbox .description {
  width: 100%;
  margin-left: 0;
}

/* line 35, ../scss/forms/_form-elements.scss */
.form-actions {
  margin: 0 0 1.25rem;
  text-align: center;
}

/* line 43, ../scss/forms/_form-elements.scss */
.field--type-datetime .fieldset-wrapper .container-inline {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  /* line 43, ../scss/forms/_form-elements.scss */
  .field--type-datetime .fieldset-wrapper .container-inline {
    flex-direction: row;
    margin: 0 -0.25rem;
  }
}
/* line 52, ../scss/forms/_form-elements.scss */
.field--type-datetime .fieldset-wrapper .container-inline .form-item {
  margin-bottom: 0;
  flex-grow: 1;
}
@media (min-width: 768px) {
  /* line 52, ../scss/forms/_form-elements.scss */
  .field--type-datetime .fieldset-wrapper .container-inline .form-item {
    padding: 0 0.25rem;
  }
}
/* line 60, ../scss/forms/_form-elements.scss */
.field--type-datetime .fieldset-wrapper .container-inline .form-item select {
  width: 100%;
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  /* line 60, ../scss/forms/_form-elements.scss */
  .field--type-datetime .fieldset-wrapper .container-inline .form-item select {
    margin-bottom: 0;
  }
}
/* line 70, ../scss/forms/_form-elements.scss */
.field--type-datetime .fieldset-wrapper .container-inline .form-item:last-child select {
  margin-bottom: 0;
}

/* line 79, ../scss/forms/_form-elements.scss */
.horizontal-tabs {
  background: transparent;
  border: none;
}
/* line 83, ../scss/forms/_form-elements.scss */
.horizontal-tabs ul.horizontal-tabs-list {
  background: transparent;
  border: none;
  display: flex;
  clear: none;
}
/* line 90, ../scss/forms/_form-elements.scss */
.horizontal-tabs ul.horizontal-tabs-list .horizontal-tab-button {
  border: none;
  background: transparent;
  margin-right: 2px;
  float: none;
  min-width: unset;
  border-radius: 6px 6px 0 0;
}
/* line 98, ../scss/forms/_form-elements.scss */
.horizontal-tabs ul.horizontal-tabs-list .horizontal-tab-button a {
  border: none;
  padding: 0.5rem 1rem;
}
/* line 102, ../scss/forms/_form-elements.scss */
.horizontal-tabs ul.horizontal-tabs-list .horizontal-tab-button a:hover {
  border: none;
  background: rgba(255, 255, 255, 0.5);
}
/* line 108, ../scss/forms/_form-elements.scss */
.horizontal-tabs ul.horizontal-tabs-list .horizontal-tab-button.selected {
  background-color: white;
}
/* line 111, ../scss/forms/_form-elements.scss */
.horizontal-tabs ul.horizontal-tabs-list .horizontal-tab-button.selected a {
  padding: 0.5rem 1rem;
}

/* line 122, ../scss/forms/_form-elements.scss */
.horizontal-tabs-panes details {
  background: white;
  border-radius: 0 6px 6px 6px;
  box-shadow: 0 0px 16px rgba(0, 0, 0, 0.1);
  margin: 0;
  padding: 1rem;
}
/* line 129, ../scss/forms/_form-elements.scss */
.horizontal-tabs-panes details > .details-wrapper {
  padding: 0;
}

/* line 2, ../scss/forms/_form-user-password.scss */
form.user-pass .form-item {
  margin-bottom: 0;
}
/* line 6, ../scss/forms/_form-user-password.scss */
form.user-pass p {
  font-size: 1rem;
  margin-bottom: 1.25rem;
}

/* line 3, ../scss/forms/_form-user-register.scss */
.user-register-form fieldset {
  border: none;
  margin-bottom: 0;
}
/* line 7, ../scss/forms/_form-user-register.scss */
.user-register-form fieldset legend {
  font-family: "Titillium Web";
  font-size: 2rem;
  color: #303040;
  margin-bottom: 1.25rem;
}
@media (min-width: 768px) {
  /* line 14, ../scss/forms/_form-user-register.scss */
  .user-register-form fieldset .fieldset-wrapper {
    display: flex;
    margin: 0 -0.5rem;
  }
  /* line 19, ../scss/forms/_form-user-register.scss */
  .user-register-form fieldset .fieldset-wrapper > div {
    padding: 0 0.5rem;
    width: 50%;
  }
}
/* line 27, ../scss/forms/_form-user-register.scss */
.user-register-form details {
  background: white;
  border-radius: 6px;
  margin: 0 0 1rem;
  padding: 1rem;
}
/* line 33, ../scss/forms/_form-user-register.scss */
.user-register-form details .details-wrapper {
  padding: 0;
}
/* line 37, ../scss/forms/_form-user-register.scss */
.user-register-form details .details-description {
  margin-bottom: 1rem;
}
/* line 41, ../scss/forms/_form-user-register.scss */
.user-register-form details summary {
  background: none;
  padding: 0;
  color: #1f305e;
  font-family: "Titillium Web";
  font-weight: 600;
}
@media (min-width: 768px) {
  /* line 50, ../scss/forms/_form-user-register.scss */
  .user-register-form .form-type-password-confirm {
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 -0.5rem 1.25rem;
  }
  /* line 56, ../scss/forms/_form-user-register.scss */
  .user-register-form .form-type-password-confirm .form-item {
    padding: 0 0.5rem;
    width: 50%;
  }
  /* line 61, ../scss/forms/_form-user-register.scss */
  .user-register-form .form-type-password-confirm .password-suggestions {
    padding: 0 1rem;
    width: 50%;
    border: none;
    max-width: none;
    margin: 0;
  }
  /* line 69, ../scss/forms/_form-user-register.scss */
  .user-register-form .form-type-password-confirm .description {
    width: 50%;
    padding: 0 0.5rem;
  }
}
/* line 76, ../scss/forms/_form-user-register.scss */
.user-register-form .form-type-password-confirm .form-item input {
  width: 100%;
  margin-bottom: 0;
}
/* line 82, ../scss/forms/_form-user-register.scss */
.user-register-form .form-type-password-confirm .password-strength,
.user-register-form .form-type-password-confirm div.password-confirm {
  width: 100%;
  font-size: 1rem;
}
/* line 88, ../scss/forms/_form-user-register.scss */
.user-register-form .form-type-password-confirm div.password-confirm {
  margin: 0;
  padding-top: 1rem;
}
/* line 93, ../scss/forms/_form-user-register.scss */
.user-register-form .form-type-password-confirm .password-strength__meter {
  margin: 0 0 0.5rem;
  height: 0.5rem;
  border-radius: 0 0 2px 2px;
}
/* line 100, ../scss/forms/_form-user-register.scss */
.user-register-form .edit-timezone {
  display: none;
}

/* line 1, ../scss/forms/_form-node-message-form.scss */
.block-formblock-node {
  border-left: 3px solid darkgray;
  padding-bottom: 1rem;
  padding-left: 2rem;
  position: relative;
}
/* line 7, ../scss/forms/_form-node-message-form.scss */
.block-formblock-node:before {
  content: '';
  height: 17px;
  width: 17px;
  position: absolute;
  left: -10px;
  top: 30px;
  border: 2px solid white;
  border-radius: 50%;
  background: #3a579a;
}
/* line 19, ../scss/forms/_form-node-message-form.scss */
.block-formblock-node:after {
  content: '';
  width: 7px;
  height: 30px;
  position: absolute;
  top: 0;
  left: -5px;
  background: #eee;
}

/* line 30, ../scss/forms/_form-node-message-form.scss */
.node-message-form.node-form {
  padding: 1rem;
  border-radius: 6px;
  background: white;
  box-shadow: 0 0px 16px rgba(0, 0, 0, 0.1);
  flex-wrap: wrap;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
/* line 40, ../scss/forms/_form-node-message-form.scss */
.node-message-form.node-form:before {
  content: '';
  border-left: 15px solid transparent;
  border-top: 15px solid transparent;
  border-right: 15px solid white;
  border-bottom: 15px solid transparent;
  height: 0px;
  width: 0px;
  position: absolute;
  left: -30px;
  top: 24px;
}
/* line 53, ../scss/forms/_form-node-message-form.scss */
.node-message-form.node-form .form-type-vertical-tabs {
  display: none !important;
}
/* line 57, ../scss/forms/_form-node-message-form.scss */
.node-message-form.node-form .form-item {
  margin-bottom: 0;
}
/* line 61, ../scss/forms/_form-node-message-form.scss */
.node-message-form.node-form .form-actions {
  margin: 0 0 0 auto;
}
/* line 65, ../scss/forms/_form-node-message-form.scss */
.node-message-form.node-form .field--name-body {
  width: 100%;
  padding-bottom: 1rem;
}
/* line 69, ../scss/forms/_form-node-message-form.scss */
.node-message-form.node-form .field--name-body label {
  display: none;
}
/* line 75, ../scss/forms/_form-node-message-form.scss */
.node-message-form.node-form .field--name-field-image label {
  display: none;
}
/* line 79, ../scss/forms/_form-node-message-form.scss */
.node-message-form.node-form .field--name-field-image .description {
  display: none;
}
/* line 83, ../scss/forms/_form-node-message-form.scss */
.node-message-form.node-form .field--name-field-image button {
  margin-bottom: 0;
}
/* line 88, ../scss/forms/_form-node-message-form.scss */
.node-message-form.node-form input {
  margin-bottom: 0;
}

/* line 1, ../scss/forms/_form-node-event-form.scss */
.node-event-form.node-form {
  max-width: 1024px;
  margin: 0 auto;
}
/* line 5, ../scss/forms/_form-node-event-form.scss */
.node-event-form.node-form .form-wrapper:not(.form-actions) {
  background: white;
  border-radius: 6px;
  padding: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0 0px 16px rgba(0, 0, 0, 0.1);
}
/* line 12, ../scss/forms/_form-node-event-form.scss */
.node-event-form.node-form .form-wrapper:not(.form-actions) .form-item {
  margin-bottom: 0;
}
/* line 15, ../scss/forms/_form-node-event-form.scss */
.node-event-form.node-form .form-wrapper:not(.form-actions) .form-item input {
  margin-bottom: 0;
}

/* line 1, ../scss/forms/_form-node-borrow-item-form.scss */
.node-borrow-item-form.node-form {
  max-width: 1024px;
  margin: 0 auto;
}
/* line 5, ../scss/forms/_form-node-borrow-item-form.scss */
.node-borrow-item-form.node-form .form-wrapper:not(.form-actions) {
  background: white;
  border-radius: 6px;
  padding: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0 0px 16px rgba(0, 0, 0, 0.1);
}
/* line 12, ../scss/forms/_form-node-borrow-item-form.scss */
.node-borrow-item-form.node-form .form-wrapper:not(.form-actions) .form-item {
  margin-bottom: 0;
}
/* line 15, ../scss/forms/_form-node-borrow-item-form.scss */
.node-borrow-item-form.node-form .form-wrapper:not(.form-actions) .form-item input {
  margin-bottom: 0;
}

/* line 1, ../scss/forms/_form-comment-form.scss */
.comment-content-form {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  /* line 1, ../scss/forms/_form-comment-form.scss */
  .comment-content-form {
    flex-direction: row;
    flex-wrap: nowrap;
  }
}
/* line 10, ../scss/forms/_form-comment-form.scss */
.comment-content-form .form-item {
  margin-bottom: 0;
}
/* line 14, ../scss/forms/_form-comment-form.scss */
.comment-content-form .form-actions {
  margin: 0;
}
/* line 17, ../scss/forms/_form-comment-form.scss */
.comment-content-form .form-actions input {
  margin-bottom: 0;
}
/* line 22, ../scss/forms/_form-comment-form.scss */
.comment-content-form .field--name-comment-body {
  flex-grow: 1;
  padding: 0;
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  /* line 22, ../scss/forms/_form-comment-form.scss */
  .comment-content-form .field--name-comment-body {
    padding-right: 1rem;
  }
}
/* line 32, ../scss/forms/_form-comment-form.scss */
.comment-content-form label {
  display: none;
}
/* line 36, ../scss/forms/_form-comment-form.scss */
.comment-content-form .filter-wrapper {
  display: none;
}

/* line 1, ../scss/fields/_field--node-link.scss */
.field--name-node-link {
  text-align: right;
}
/* line 4, ../scss/fields/_field--node-link.scss */
.field--name-node-link a:after {
  content: ' ›';
  font-weight: bold;
}

/* line 1, ../scss/fields/_field--comments.scss */
.field--name-field-comments {
  margin: 1rem -1rem -1rem;
  padding: 1rem;
  background-color: #fafafa;
  border-top: 1px solid #e0e0e0;
  border-radius: 0 0 6px 6px;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
}
/* line 12, ../scss/fields/_field--comments.scss */
.field--name-field-comments h2 {
  display: none;
}

/* line 1, ../scss/fields/_field--category.scss */
.field--name-field-category {
  padding: 1rem 0;
}
/* line 4, ../scss/fields/_field--category.scss */
.field--name-field-category .field__item a,
.field--name-field-category a {
  margin-top: 0.5rem;
  border: 1px solid #3a579a;
  padding: 0.5rem 1rem;
  display: inline-block;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Roboto Condensed", sans-serif;
  border-radius: 2px;
}

/* line 1, ../scss/flag/_flag.scss */
.flag {
  padding-top: 1rem;
  text-align: center;
  background: #3a579a;
  width: 100vw;
  left: 50%;
  transform: translateX(-50%);
  position: relative;
  padding: 1rem;
  margin-bottom: 1rem;
}
/* line 11, ../scss/flag/_flag.scss */
.flag a {
  display: inline-block;
  text-transform: uppercase;
  border: 1px solid white;
  color: white;
  background: #3a579a;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 4px;
}
/* line 22, ../scss/flag/_flag.scss */
.flag a:hover {
  border: 1px solid white;
  background: #2c4275;
}
/* line 30, ../scss/flag/_flag.scss */
.flag.action-unflag a {
  background: transparent;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.6);
}

/* line 1, ../scss/nodes/_node--message--teaser.scss */
.node--type-message.node--view-mode-teaser {
  padding: 1rem;
  position: relative;
  border-radius: 6px;
  background: white;
  box-shadow: 0 0px 16px rgba(0, 0, 0, 0.1);
}
/* line 8, ../scss/nodes/_node--message--teaser.scss */
.node--type-message.node--view-mode-teaser:before {
  content: '';
  border-left: 15px solid transparent;
  border-top: 15px solid transparent;
  border-right: 15px solid white;
  border-bottom: 15px solid transparent;
  height: 0px;
  width: 0px;
  position: absolute;
  left: -30px;
  top: 24px;
}
/* line 21, ../scss/nodes/_node--message--teaser.scss */
.node--type-message.node--view-mode-teaser > .avatar {
  display: flex;
  width: 100%;
  padding-bottom: 1rem;
  align-items: top;
}
/* line 27, ../scss/nodes/_node--message--teaser.scss */
.node--type-message.node--view-mode-teaser > .avatar .field--name-user {
  max-width: 3rem;
}
/* line 31, ../scss/nodes/_node--message--teaser.scss */
.node--type-message.node--view-mode-teaser > .avatar .posted {
  padding-left: 1rem;
  flex-grow: 1;
  font-size: 1rem;
}
/* line 37, ../scss/nodes/_node--message--teaser.scss */
.node--type-message.node--view-mode-teaser > .avatar .posted .field--name-node-author a {
  font-weight: bold;
}
/* line 41, ../scss/nodes/_node--message--teaser.scss */
.node--type-message.node--view-mode-teaser > .avatar .posted .field--name-node-author:after {
  content: ' schreef op: ';
}
/* line 49, ../scss/nodes/_node--message--teaser.scss */
.node--type-message.node--view-mode-teaser .message .field--name-field-image {
  margin-top: 1rem;
}

/* line 1, ../scss/nodes/_node--event--teaser.scss */
.node--type-event.node--view-mode-teaser {
  padding: 1rem;
  border-radius: 6px;
  background: white;
  box-shadow: 0 0px 16px rgba(0, 0, 0, 0.1);
  position: relative;
}
/* line 8, ../scss/nodes/_node--event--teaser.scss */
.node--type-event.node--view-mode-teaser:before {
  content: '';
  border-left: 15px solid transparent;
  border-top: 15px solid transparent;
  border-right: 15px solid white;
  border-bottom: 15px solid transparent;
  height: 0px;
  width: 0px;
  position: absolute;
  left: -30px;
  top: 24px;
}
/* line 21, ../scss/nodes/_node--event--teaser.scss */
.node--type-event.node--view-mode-teaser > .avatar {
  display: flex;
  width: 100%;
  padding-bottom: 1rem;
  align-items: top;
}
/* line 27, ../scss/nodes/_node--event--teaser.scss */
.node--type-event.node--view-mode-teaser > .avatar .field--name-user {
  max-width: 3rem;
}
/* line 31, ../scss/nodes/_node--event--teaser.scss */
.node--type-event.node--view-mode-teaser > .avatar .posted {
  padding-left: 1rem;
  flex-grow: 1;
  font-size: 1rem;
}
/* line 37, ../scss/nodes/_node--event--teaser.scss */
.node--type-event.node--view-mode-teaser > .avatar .posted .field--name-node-author a {
  font-weight: bold;
}
/* line 41, ../scss/nodes/_node--event--teaser.scss */
.node--type-event.node--view-mode-teaser > .avatar .posted .field--name-node-author:after {
  content: ' heeft een evenement toegevoegd: ';
}
/* line 48, ../scss/nodes/_node--event--teaser.scss */
.node--type-event.node--view-mode-teaser .event-content {
  margin: 0 -1rem -1rem;
  background: #e0e0e0;
  border-radius: 0 0 6px 6px;
  display: flex;
}
/* line 54, ../scss/nodes/_node--event--teaser.scss */
.node--type-event.node--view-mode-teaser .event-content .field--type-image {
  width: 50%;
  display: none;
}
@media (min-width: 768px) {
  /* line 54, ../scss/nodes/_node--event--teaser.scss */
  .node--type-event.node--view-mode-teaser .event-content .field--type-image {
    display: block;
  }
}
/* line 62, ../scss/nodes/_node--event--teaser.scss */
.node--type-event.node--view-mode-teaser .event-content .field--type-image img {
  border-radius: 0 0 0 6px;
}
/* line 67, ../scss/nodes/_node--event--teaser.scss */
.node--type-event.node--view-mode-teaser .event-content .event-details {
  width: 50%;
  font-size: 1rem;
  padding: 1rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
/* line 75, ../scss/nodes/_node--event--teaser.scss */
.node--type-event.node--view-mode-teaser .event-content .event-details .field--name-node-link {
  margin-top: auto;
}

/* line 1, ../scss/nodes/_node--event--list.scss */
.node--type-event.node--view-mode-list {
  padding: 0 1rem 1rem;
  border-radius: 6px;
  background: white;
  box-shadow: 0 0px 16px rgba(0, 0, 0, 0.1);
  position: relative;
}
/* line 8, ../scss/nodes/_node--event--list.scss */
.node--type-event.node--view-mode-list .event-content {
  margin: 0 -1rem -1rem;
  background: white;
  border-radius: 0 0 6px 6px;
  display: flex;
}
/* line 14, ../scss/nodes/_node--event--list.scss */
.node--type-event.node--view-mode-list .event-content .field--type-image {
  width: 50%;
  display: none;
}
@media (min-width: 768px) {
  /* line 14, ../scss/nodes/_node--event--list.scss */
  .node--type-event.node--view-mode-list .event-content .field--type-image {
    display: block;
  }
}
/* line 22, ../scss/nodes/_node--event--list.scss */
.node--type-event.node--view-mode-list .event-content .field--type-image img {
  border-radius: 0 0 0 6px;
}
/* line 27, ../scss/nodes/_node--event--list.scss */
.node--type-event.node--view-mode-list .event-content .event-details {
  width: 50%;
  font-size: 1rem;
  padding: 1rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
/* line 35, ../scss/nodes/_node--event--list.scss */
.node--type-event.node--view-mode-list .event-content .event-details .field--name-node-link {
  margin-top: auto;
}

/* line 2, ../scss/nodes/_node--event--full.scss */
.node--type-event.node--view-mode-full .event-image {
  width: 100vw;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  background-size: cover;
  background-position: center;
}
@media (min-width: 768px) {
  /* line 2, ../scss/nodes/_node--event--full.scss */
  .node--type-event.node--view-mode-full .event-image {
    padding-top: 60%;
  }
}
/* line 15, ../scss/nodes/_node--event--full.scss */
.node--type-event.node--view-mode-full .event-meta {
  background: #f0f0f0;
  border: 1px solid #e0e0e0;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 6px;
}
@media (min-width: 768px) {
  /* line 15, ../scss/nodes/_node--event--full.scss */
  .node--type-event.node--view-mode-full .event-meta {
    display: flex;
  }
  /* line 25, ../scss/nodes/_node--event--full.scss */
  .node--type-event.node--view-mode-full .event-meta .field--name-field-date-time {
    margin-right: 1rem;
  }
}
/* line 31, ../scss/nodes/_node--event--full.scss */
.node--type-event.node--view-mode-full h1 {
  max-width: 1280px;
  margin: 0;
  padding: 4rem 1rem;
  text-align: center;
  color: white;
  text-shadow: 0 0 4px rgba(64, 64, 64, 0.8);
}
@media (min-width: 768px) {
  /* line 31, ../scss/nodes/_node--event--full.scss */
  .node--type-event.node--view-mode-full h1 {
    font-size: 3rem;
    left: 50%;
    top: 50%;
    padding: 0 2rem;
    position: absolute;
    transform: translate(-50%, -50%);
  }
}

/* line 2, ../scss/nodes/_node--borrow-item--full.scss */
.node--type-borrow-item.node--view-mode-full .borrow-image {
  width: 100vw;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  background-size: cover;
  background-position: center;
}
@media (min-width: 768px) {
  /* line 2, ../scss/nodes/_node--borrow-item--full.scss */
  .node--type-borrow-item.node--view-mode-full .borrow-image {
    padding-top: 60%;
  }
}
/* line 15, ../scss/nodes/_node--borrow-item--full.scss */
.node--type-borrow-item.node--view-mode-full .borrow-content {
  padding: 2rem 0 1rem;
}
/* line 21, ../scss/nodes/_node--borrow-item--full.scss */
.node--type-borrow-item.node--view-mode-full .slick-slider {
  width: 100vw;
  left: 50%;
  position: relative;
  transform: translateX(-50%);
  margin: 0 auto;
}
@media (min-width: 768px) {
  /* line 21, ../scss/nodes/_node--borrow-item--full.scss */
  .node--type-borrow-item.node--view-mode-full .slick-slider {
    width: 100%;
    left: unset;
    transform: none;
  }
}
/* line 35, ../scss/nodes/_node--borrow-item--full.scss */
.node--type-borrow-item.node--view-mode-full .slick-arrow {
  position: absolute;
  height: 2rem;
  width: 2rem;
  background: white;
  border-radius: 50%;
  left: 2rem;
  top: 50%;
  transform: translateY(-50%);
  z-index: 9999;
  padding: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  color: transparent;
  font-size: 0px;
}
/* line 50, ../scss/nodes/_node--borrow-item--full.scss */
.node--type-borrow-item.node--view-mode-full .slick-arrow::before {
  content: '←';
  color: #3a579a;
  height: 2rem;
  width: 2rem;
  text-align: center;
  font-size: 1.5rem;
  transform: translateY(-50%);
  line-height: 1rem;
  font-weight: bold;
}
@media (min-width: 1024px) {
  /* line 50, ../scss/nodes/_node--borrow-item--full.scss */
  .node--type-borrow-item.node--view-mode-full .slick-arrow::before {
    font-size: 2rem;
  }
}
@media (min-width: 1024px) {
  /* line 35, ../scss/nodes/_node--borrow-item--full.scss */
  .node--type-borrow-item.node--view-mode-full .slick-arrow {
    width: 3rem;
    height: 3rem;
  }
}
/* line 71, ../scss/nodes/_node--borrow-item--full.scss */
.node--type-borrow-item.node--view-mode-full .slick-arrow.slick-next {
  left: unset;
  right: 2rem;
}
/* line 75, ../scss/nodes/_node--borrow-item--full.scss */
.node--type-borrow-item.node--view-mode-full .slick-arrow.slick-next::before {
  content: '→';
}
/* line 81, ../scss/nodes/_node--borrow-item--full.scss */
.node--type-borrow-item.node--view-mode-full h1 {
  max-width: 1280px;
  margin: 0;
  padding: 4rem 1rem;
  text-align: center;
  color: white;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.8);
}
@media (min-width: 768px) {
  /* line 81, ../scss/nodes/_node--borrow-item--full.scss */
  .node--type-borrow-item.node--view-mode-full h1 {
    font-size: 3rem;
    left: 50%;
    top: 50%;
    padding: 0 2rem;
    position: absolute;
    transform: translate(-50%, -50%);
  }
}

/* line 1, ../scss/nodes/_node--borrow-item--teaser.scss */
.node--type-borrow-item.node--view-mode-teaser {
  border-radius: 6px;
  background: white;
  margin-bottom: 1rem;
  box-shadow: 0 0px 16px rgba(0, 0, 0, 0.1);
}
/* line 7, ../scss/nodes/_node--borrow-item--teaser.scss */
.node--type-borrow-item.node--view-mode-teaser .borrow-image {
  padding-top: 100%;
  border-radius: 6px 6px 0 0;
  background-size: cover;
  background-position: center;
}
/* line 13, ../scss/nodes/_node--borrow-item--teaser.scss */
.node--type-borrow-item.node--view-mode-teaser .borrow-image .field--name-bundle-fieldnode {
  display: none;
}
/* line 18, ../scss/nodes/_node--borrow-item--teaser.scss */
.node--type-borrow-item.node--view-mode-teaser .borrow-content {
  padding: 1rem;
}
/* line 21, ../scss/nodes/_node--borrow-item--teaser.scss */
.node--type-borrow-item.node--view-mode-teaser .borrow-content h2 {
  margin-bottom: 0;
}
/* line 25, ../scss/nodes/_node--borrow-item--teaser.scss */
.node--type-borrow-item.node--view-mode-teaser .borrow-content .field--name-field-category {
  padding: 0.5rem 0 1rem;
}

/* line 3, ../scss/nodes/_node--meeting--full.scss */
.node--type-meeting.node--view-mode-full .meeting-meta-wrapper {
  background: #f0f0f0;
}
@media (min-width: 768px) {
  /* line 3, ../scss/nodes/_node--meeting--full.scss */
  .node--type-meeting.node--view-mode-full .meeting-meta-wrapper {
    width: 100vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin: 0 auto;
  }
}
/* line 15, ../scss/nodes/_node--meeting--full.scss */
.node--type-meeting.node--view-mode-full .meeting-meta-wrapper .meeting-meta {
  width: 100%;
  padding: 1rem;
}
@media (min-width: 768px) {
  /* line 15, ../scss/nodes/_node--meeting--full.scss */
  .node--type-meeting.node--view-mode-full .meeting-meta-wrapper .meeting-meta {
    padding: 1rem 2rem;
    display: flex;
    flex-wrap: wrap;
  }
}
@media (min-width: 1280px) {
  /* line 15, ../scss/nodes/_node--meeting--full.scss */
  .node--type-meeting.node--view-mode-full .meeting-meta-wrapper .meeting-meta {
    width: 1280px;
    margin: 0 auto;
    padding: 2rem;
  }
}
/* line 32, ../scss/nodes/_node--meeting--full.scss */
.node--type-meeting.node--view-mode-full .meeting-meta-wrapper .field--name-field-date-time {
  width: 100%;
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  /* line 32, ../scss/nodes/_node--meeting--full.scss */
  .node--type-meeting.node--view-mode-full .meeting-meta-wrapper .field--name-field-date-time {
    width: 33.333%;
    padding-right: 1rem;
    margin-bottom: 0;
  }
}
/* line 44, ../scss/nodes/_node--meeting--full.scss */
.node--type-meeting.node--view-mode-full .field--name-field-files,
.node--type-meeting.node--view-mode-full .field--name-field-agenda {
  margin: 1rem 0;
}
/* line 48, ../scss/nodes/_node--meeting--full.scss */
.node--type-meeting.node--view-mode-full .field--name-field-files .field__label,
.node--type-meeting.node--view-mode-full .field--name-field-agenda .field__label {
  margin-bottom: 1.25rem;
  line-height: 1.2;
  font-weight: 600;
  font-family: "Titillium Web";
  letter-spacing: -0.48px;
  color: #303040;
  font-size: 1.75rem;
}
/* line 60, ../scss/nodes/_node--meeting--full.scss */
.node--type-meeting.node--view-mode-full .field--name-field-files table {
  width: 100%;
  border: 1px solid #e0e0e0;
}
/* line 64, ../scss/nodes/_node--meeting--full.scss */
.node--type-meeting.node--view-mode-full .field--name-field-files table th {
  padding: 0.5rem;
}
/* line 68, ../scss/nodes/_node--meeting--full.scss */
.node--type-meeting.node--view-mode-full .field--name-field-files table tbody tr {
  border-top: 1px solid #e0e0e0;
}
/* line 71, ../scss/nodes/_node--meeting--full.scss */
.node--type-meeting.node--view-mode-full .field--name-field-files table tbody tr:nth-child(2n-1) {
  background: #f0f0f0;
}
/* line 76, ../scss/nodes/_node--meeting--full.scss */
.node--type-meeting.node--view-mode-full .field--name-field-files table td {
  padding: 0.5rem;
}
/* line 80, ../scss/nodes/_node--meeting--full.scss */
.node--type-meeting.node--view-mode-full .field--name-field-files table td:last-child {
  font-size: 0.9rem;
}
/* line 86, ../scss/nodes/_node--meeting--full.scss */
.node--type-meeting.node--view-mode-full .field--name-field-participants {
  width: 100%;
  margin-bottom: 1rem;
}
/* line 90, ../scss/nodes/_node--meeting--full.scss */
.node--type-meeting.node--view-mode-full .field--name-field-participants .field__label {
  margin-bottom: 1rem;
}
/* line 94, ../scss/nodes/_node--meeting--full.scss */
.node--type-meeting.node--view-mode-full .field--name-field-participants .field__items {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -0.5rem 1rem;
}
/* line 99, ../scss/nodes/_node--meeting--full.scss */
.node--type-meeting.node--view-mode-full .field--name-field-participants .field__items .field__item {
  padding: 0 0.5rem;
}

/* line 1, ../scss/nodes/_node--photo-album--teaser.scss */
.node--type-photo-album.node--view-mode-teaser {
  border-radius: 6px;
  background: white;
  margin-bottom: 1rem;
  box-shadow: 0 0px 16px rgba(0, 0, 0, 0.1);
  padding: 1rem;
}
/* line 8, ../scss/nodes/_node--photo-album--teaser.scss */
.node--type-photo-album.node--view-mode-teaser:before {
  content: '';
  border-left: 15px solid transparent;
  border-top: 15px solid transparent;
  border-right: 15px solid white;
  border-bottom: 15px solid transparent;
  height: 0px;
  width: 0px;
  position: absolute;
  left: -30px;
  top: 24px;
}
/* line 21, ../scss/nodes/_node--photo-album--teaser.scss */
.node--type-photo-album.node--view-mode-teaser > .avatar {
  display: flex;
  width: 100%;
  padding-bottom: 1rem;
  align-items: top;
}
/* line 27, ../scss/nodes/_node--photo-album--teaser.scss */
.node--type-photo-album.node--view-mode-teaser > .avatar .field--name-user {
  max-width: 3rem;
}
/* line 31, ../scss/nodes/_node--photo-album--teaser.scss */
.node--type-photo-album.node--view-mode-teaser > .avatar .posted {
  padding-left: 1rem;
  flex-grow: 1;
  font-size: 1rem;
}
/* line 37, ../scss/nodes/_node--photo-album--teaser.scss */
.node--type-photo-album.node--view-mode-teaser > .avatar .posted .field--name-node-author a {
  font-weight: bold;
}
/* line 41, ../scss/nodes/_node--photo-album--teaser.scss */
.node--type-photo-album.node--view-mode-teaser > .avatar .posted .field--name-node-author:after {
  content: ' heeft een fotoalbum toegevoegd: ';
}
/* line 49, ../scss/nodes/_node--photo-album--teaser.scss */
.node--type-photo-album.node--view-mode-teaser .photoalbum-content .photos-wrapper {
  margin: 0 -1rem;
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  /* line 49, ../scss/nodes/_node--photo-album--teaser.scss */
  .node--type-photo-album.node--view-mode-teaser .photoalbum-content .photos-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
}
@media (min-width: 768px) {
  /* line 60, ../scss/nodes/_node--photo-album--teaser.scss */
  .node--type-photo-album.node--view-mode-teaser .photoalbum-content .photo-first {
    width: 75%;
    padding-right: 0;
  }
}
/* line 67, ../scss/nodes/_node--photo-album--teaser.scss */
.node--type-photo-album.node--view-mode-teaser .photoalbum-content .other-photos {
  display: flex;
  flex-wrap: nowrap;
  margin: 0 -1px;
}
/* line 72, ../scss/nodes/_node--photo-album--teaser.scss */
.node--type-photo-album.node--view-mode-teaser .photoalbum-content .other-photos > .field {
  padding: 2px 1px;
}
@media (min-width: 768px) {
  /* line 67, ../scss/nodes/_node--photo-album--teaser.scss */
  .node--type-photo-album.node--view-mode-teaser .photoalbum-content .other-photos {
    flex-direction: column;
    flex-wrap: wrap;
    width: 25%;
    padding-left: 2px;
    margin: 0;
  }
  /* line 84, ../scss/nodes/_node--photo-album--teaser.scss */
  .node--type-photo-album.node--view-mode-teaser .photoalbum-content .other-photos > .field {
    padding: 0 0 2px 0;
  }
  /* line 87, ../scss/nodes/_node--photo-album--teaser.scss */
  .node--type-photo-album.node--view-mode-teaser .photoalbum-content .other-photos > .field:last-child {
    padding-bottom: 0;
  }
}

/* line 2, ../scss/nodes/_node--photo-album--full.scss */
.node--type-photo-album.node--view-mode-full .photo-album-photos {
  padding: 1rem 0;
  margin: -0.25rem;
}
@media (min-width: 768px) {
  /* line 2, ../scss/nodes/_node--photo-album--full.scss */
  .node--type-photo-album.node--view-mode-full .photo-album-photos {
    margin: -0.5rem;
  }
}
/* line 10, ../scss/nodes/_node--photo-album--full.scss */
.node--type-photo-album.node--view-mode-full .photo-album-photos .field {
  margin-bottom: 1rem;
  width: 50%;
  padding: 0.25rem;
  margin: 0;
  float: left;
}
@media (min-width: 768px) {
  /* line 10, ../scss/nodes/_node--photo-album--full.scss */
  .node--type-photo-album.node--view-mode-full .photo-album-photos .field {
    width: 33%;
    padding: 0.5rem;
  }
}
@media (min-width: 1024px) {
  /* line 10, ../scss/nodes/_node--photo-album--full.scss */
  .node--type-photo-album.node--view-mode-full .photo-album-photos .field {
    width: 25%;
  }
}
@media (min-width: 1280px) {
  /* line 10, ../scss/nodes/_node--photo-album--full.scss */
  .node--type-photo-album.node--view-mode-full .photo-album-photos .field {
    width: 20%;
  }
}
/* line 33, ../scss/nodes/_node--photo-album--full.scss */
.node--type-photo-album.node--view-mode-full .photo-album-photos .reference-info-window {
  width: 100%;
  background: #f0f0f0;
  left: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  max-width: 100vw;
  position: relative;
  right: 50%;
  width: 100vw;
  clear: both;
  padding: 1rem;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4) inset;
  text-align: center;
}
@media (min-width: 768px) {
  /* line 33, ../scss/nodes/_node--photo-album--full.scss */
  .node--type-photo-album.node--view-mode-full .photo-album-photos .reference-info-window {
    padding: 2rem;
  }
  /* line 51, ../scss/nodes/_node--photo-album--full.scss */
  .node--type-photo-album.node--view-mode-full .photo-album-photos .reference-info-window img {
    margin: 0 auto;
    width: 100%;
    max-width: 1280px;
  }
}
/* line 60, ../scss/nodes/_node--photo-album--full.scss */
.node--type-photo-album.node--view-mode-full .comment-wrapper {
  left: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  max-width: 100vw;
  position: relative;
  right: 50%;
  width: 100vw;
  clear: both;
  padding: 1rem;
}
/* line 71, ../scss/nodes/_node--photo-album--full.scss */
.node--type-photo-album.node--view-mode-full .comment-wrapper form {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  /* line 71, ../scss/nodes/_node--photo-album--full.scss */
  .node--type-photo-album.node--view-mode-full .comment-wrapper form {
    padding: 0 2rem;
  }
}
/* line 81, ../scss/nodes/_node--photo-album--full.scss */
.node--type-photo-album.node--view-mode-full .comment-wrapper .comment {
  width: 100%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  /* line 81, ../scss/nodes/_node--photo-album--full.scss */
  .node--type-photo-album.node--view-mode-full .comment-wrapper .comment {
    padding: 0 2rem;
  }
}

/* line 1, ../scss/comments/_comment--content.scss */
.indented {
  padding-left: 2rem;
}

/* line 5, ../scss/comments/_comment--content.scss */
.indented .indented .indented .indented {
  padding-left: 0;
}

/* line 9, ../scss/comments/_comment--content.scss */
.comment--type-content.comment--view-mode-default {
  font-size: 1rem;
  margin-top: 1rem;
  position: relative;
}
/* line 14, ../scss/comments/_comment--content.scss */
.comment--type-content.comment--view-mode-default .comment-posted {
  display: flex;
}
/* line 17, ../scss/comments/_comment--content.scss */
.comment--type-content.comment--view-mode-default .comment-posted .field--name-comment-user {
  width: 2.5rem;
  margin-right: 1rem;
}
/* line 23, ../scss/comments/_comment--content.scss */
.comment--type-content.comment--view-mode-default .field--name-comment-body,
.comment--type-content.comment--view-mode-default .vote-widget-wrapper {
  padding-left: 3.5rem;
}
/* line 28, ../scss/comments/_comment--content.scss */
.comment--type-content.comment--view-mode-default .comment-actions {
  position: absolute;
  right: 0;
  top: -0.5rem;
}
/* line 33, ../scss/comments/_comment--content.scss */
.comment--type-content.comment--view-mode-default .comment-actions .expand-links {
  padding: 0 0.5rem;
  border-radius: 50%;
  border: none;
  display: block;
  height: 2rem;
  width: 2rem;
  line-height: 2.25;
  text-align: center;
}
/* line 43, ../scss/comments/_comment--content.scss */
.comment--type-content.comment--view-mode-default .comment-actions .expand-links:hover {
  background: #ddd;
}
/* line 48, ../scss/comments/_comment--content.scss */
.comment--type-content.comment--view-mode-default .comment-actions ul {
  display: none;
  opacity: 0;
  transition: all 0.333s ease-in-out;
}
/* line 53, ../scss/comments/_comment--content.scss */
.comment--type-content.comment--view-mode-default .comment-actions ul.expanded {
  z-index: 2;
  display: block;
  position: absolute;
  right: 0;
  top: 2.5rem;
  margin: 0;
  padding: 0;
  border: 1px solid #ddd;
  background: #fff;
  display: flex;
  flex-direction: column;
  border-radius: 2px;
  box-shadow: 0 0 20px rgba(64, 64, 64, 0.1);
  opacity: 1;
}
/* line 69, ../scss/comments/_comment--content.scss */
.comment--type-content.comment--view-mode-default .comment-actions ul.expanded li {
  padding: 0;
  margin: 0;
  display: block;
  min-width: 10rem;
}
/* line 75, ../scss/comments/_comment--content.scss */
.comment--type-content.comment--view-mode-default .comment-actions ul.expanded li a {
  display: block;
  padding: 0.5rem 1rem;
  border: none;
  color: black;
}
/* line 81, ../scss/comments/_comment--content.scss */
.comment--type-content.comment--view-mode-default .comment-actions ul.expanded li a:hover {
  background: #eee;
}

/* line 3, ../scss/user/_user--avatar.scss */
.user--view-mode-avatar .field--type-image a,
.user--view-mode-avatar-with-name .field--type-image a {
  display: inline-block;
  border: 4px solid white;
  border-radius: 50%;
  box-shadow: 0 0 4px rgba(64, 64, 64, 0.3);
  overflow: hidden;
}

/* line 12, ../scss/user/_user--avatar.scss */
.user--view-mode-avatar-with-name {
  text-align: center;
}
/* line 15, ../scss/user/_user--avatar.scss */
.user--view-mode-avatar-with-name .field--type-image a {
  width: 4rem;
  margin: 0 auto;
}

/* line 1, ../scss/user/_user--compact.scss */
.user--view-mode-compact {
  background: white;
  width: 100%;
  border-radius: 6px;
  padding: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0 0px 16px rgba(0, 0, 0, 0.1);
  display: flex;
  position: relative;
}
/* line 11, ../scss/user/_user--compact.scss */
.user--view-mode-compact .field--type-image img {
  width: 6rem;
  display: inline-block;
  border: 4px solid white;
  border-radius: 50%;
  box-shadow: 0 0 4px rgba(64, 64, 64, 0.3);
  overflow: hidden;
  margin-right: 1rem;
}
/* line 21, ../scss/user/_user--compact.scss */
.user--view-mode-compact .field {
  margin-bottom: 0.5rem;
}
/* line 25, ../scss/user/_user--compact.scss */
.user--view-mode-compact .big-link a {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  text-indent: -9999px;
}
/* line 33, ../scss/user/_user--compact.scss */
.user--view-mode-compact .big-link a:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: none;
}

/* line 3, ../scss/user/_user--banner.scss */
.view-user-profile .user-banner,
.view-user-header .user-banner {
  height: 60vh;
  background-color: #3a579a;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
}
/* line 12, ../scss/user/_user--banner.scss */
.view-user-profile .avatar,
.view-user-header .avatar {
  margin: 0 auto;
}
/* line 15, ../scss/user/_user--banner.scss */
.view-user-profile .avatar .field--name-field-image,
.view-user-header .avatar .field--name-field-image {
  background: white;
  border-radius: 50%;
  border: 4px solid white;
  width: 10rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 0 auto 2rem;
}
/* line 26, ../scss/user/_user--banner.scss */
.view-user-profile .avatar .field--name-field-name,
.view-user-header .avatar .field--name-field-name {
  font-size: 2.5rem;
  color: white;
  font-family: "Titillium Web";
  text-shadow: 0 0 4px black;
  text-align: center;
  padding-bottom: 4rem;
}

/* line 37, ../scss/user/_user--banner.scss */
.block-views-blockuser-profile-block-user-header {
  position: relative;
}
/* line 40, ../scss/user/_user--banner.scss */
.block-views-blockuser-profile-block-user-header .edit-button {
  position: absolute;
  right: 2rem;
  top: 2rem;
  width: 2rem;
  height: 2rem;
  text-align: center;
  line-height: 2;
  color: black;
  border: 2px solid white;
  border-radius: 50%;
  background: white;
  font-size: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
/* line 55, ../scss/user/_user--banner.scss */
.block-views-blockuser-profile-block-user-header .edit-button:hover {
  background: #f0f0f0;
}

/* line 3, ../scss/views/_view--stream--page.scss */
.view-message-board.view-display-id-stream .views-row,
.view-message-board.view-display-id-user_stream .views-row {
  border-left: 3px solid darkgray;
  padding-left: 2rem;
  padding-bottom: 1rem;
  position: relative;
}
/* line 9, ../scss/views/_view--stream--page.scss */
.view-message-board.view-display-id-stream .views-row:before,
.view-message-board.view-display-id-user_stream .views-row:before {
  content: '';
  height: 17px;
  width: 17px;
  position: absolute;
  left: -10px;
  top: 30px;
  border: 2px solid white;
  border-radius: 50%;
  background: #606060;
}
/* line 21, ../scss/views/_view--stream--page.scss */
.view-message-board.view-display-id-stream .views-row:last-child,
.view-message-board.view-display-id-user_stream .views-row:last-child {
  padding-bottom: 0;
}

/* line 2, ../scss/views/_view--my-events--page.scss */
.view-my-events.view-display-id-page_1 .views-row:not(:last-child) {
  margin-bottom: 1rem;
}

/* line 2, ../scss/views/_view--events--page.scss */
.view-events.view-display-id-page_1 .views-row:not(:last-child) {
  margin-bottom: 1rem;
}

/* line 2, ../scss/views/_view--events--upcoming.scss */
.view-events.view-display-id-block_upcoming .views-row {
  margin-bottom: 1rem;
}
/* line 7, ../scss/views/_view--events--upcoming.scss */
.view-events.view-display-id-block_upcoming .more-link a:after {
  content: ' ›';
  font-weight: bold;
}

/* line 2, ../scss/views/_view--flaggers-block.scss */
.view-flaggers.view-id-flaggers .view-content {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -0.5rem;
}
/* line 8, ../scss/views/_view--flaggers-block.scss */
.view-flaggers.view-id-flaggers .view-content .views-row {
  width: 100%;
  padding: 0 0.5rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}
@media (min-width: 768px) {
  /* line 8, ../scss/views/_view--flaggers-block.scss */
  .view-flaggers.view-id-flaggers .view-content .views-row {
    width: 50%;
  }
}
@media (min-width: 1024px) {
  /* line 8, ../scss/views/_view--flaggers-block.scss */
  .view-flaggers.view-id-flaggers .view-content .views-row {
    width: 33.333%;
  }
}
@media (min-width: 1280px) {
  /* line 8, ../scss/views/_view--flaggers-block.scss */
  .view-flaggers.view-id-flaggers .view-content .views-row {
    width: 25%;
  }
}
/* line 27, ../scss/views/_view--flaggers-block.scss */
.view-flaggers.view-id-flaggers .view-content .views-row .views-field-field-image {
  max-width: 4rem;
  margin-right: 1rem;
}
/* line 31, ../scss/views/_view--flaggers-block.scss */
.view-flaggers.view-id-flaggers .view-content .views-row .views-field-field-image a {
  display: block;
  border: 4px solid white;
  border-radius: 50%;
  box-shadow: 0 0 4px rgba(89, 6, 6, 0.3);
  overflow: hidden;
}

@media (min-width: 1024px) {
  /* line 3, ../scss/views/_view--who-is-who.scss */
  .view-who-is-who.view-display-id-page .view-content {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -0.5rem;
  }
  /* line 8, ../scss/views/_view--who-is-who.scss */
  .view-who-is-who.view-display-id-page .view-content .views-row {
    padding: 0 0.5rem;
    width: 50%;
    display: flex;
  }
}
@media (min-width: 1280px) {
  /* line 17, ../scss/views/_view--who-is-who.scss */
  .view-who-is-who.view-display-id-page .view-content .views-row {
    width: 33.333%;
  }
}

@media (min-width: 768px) {
  /* line 2, ../scss/views/_view--borrow--page.scss */
  .view-borrow.view-display-id-page .views-infinite-scroll-content-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -0.5rem;
  }
  /* line 8, ../scss/views/_view--borrow--page.scss */
  .view-borrow.view-display-id-page .views-infinite-scroll-content-wrapper .views-row {
    padding: 0 0.5rem;
    width: 50%;
  }
}
@media (min-width: 1280px) {
  /* line 15, ../scss/views/_view--borrow--page.scss */
  .view-borrow.view-display-id-page .views-infinite-scroll-content-wrapper .views-row {
    width: 33.333%;
  }
}
/* line 21, ../scss/views/_view--borrow--page.scss */
.view-borrow.view-display-id-page .view-filters {
  background: white;
  padding: 1rem;
  border-radius: 6px;
  margin-bottom: 1rem;
  box-shadow: 0 0px 16px rgba(0, 0, 0, 0.1);
}
/* line 28, ../scss/views/_view--borrow--page.scss */
.view-borrow.view-display-id-page .view-filters .form--inline {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  /* line 28, ../scss/views/_view--borrow--page.scss */
  .view-borrow.view-display-id-page .view-filters .form--inline {
    flex-direction: row;
  }
}
/* line 37, ../scss/views/_view--borrow--page.scss */
.view-borrow.view-display-id-page .view-filters .form-item {
  margin-bottom: 1rem;
  width: 100%;
}
/* line 41, ../scss/views/_view--borrow--page.scss */
.view-borrow.view-display-id-page .view-filters .form-item:last-child {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  /* line 37, ../scss/views/_view--borrow--page.scss */
  .view-borrow.view-display-id-page .view-filters .form-item {
    margin-bottom: 0;
    width: 50%;
  }
}
/* line 50, ../scss/views/_view--borrow--page.scss */
.view-borrow.view-display-id-page .view-filters .form-item input {
  margin-bottom: 0;
  padding: 1.125rem;
}
/* line 55, ../scss/views/_view--borrow--page.scss */
.view-borrow.view-display-id-page .view-filters .form-item select {
  margin-bottom: 0;
  width: 100%;
}
/* line 61, ../scss/views/_view--borrow--page.scss */
.view-borrow.view-display-id-page .view-filters .form-actions {
  display: none;
}

/* line 2, ../scss/views/_view--photos--page.scss */
.view-photos.view-display-id-page .views-infinite-scroll-content-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -0.5rem;
}
/* line 7, ../scss/views/_view--photos--page.scss */
.view-photos.view-display-id-page .views-infinite-scroll-content-wrapper .views-row {
  padding: 0 0.5rem 1rem;
  width: 50%;
}
@media (min-width: 768px) {
  /* line 7, ../scss/views/_view--photos--page.scss */
  .view-photos.view-display-id-page .views-infinite-scroll-content-wrapper .views-row {
    width: 33.333%;
  }
}
@media (min-width: 1024px) {
  /* line 7, ../scss/views/_view--photos--page.scss */
  .view-photos.view-display-id-page .views-infinite-scroll-content-wrapper .views-row {
    width: 25%;
  }
}

/* line 1, ../scss/vote/_vote-widget.scss */
.vote-widget.vote-widget--like-and-dislike {
  font-size: 0.85rem;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  color: #404040;
  padding-top: 0.5rem;
}
/* line 8, ../scss/vote/_vote-widget.scss */
.vote-widget.vote-widget--like-and-dislike .vote-like {
  display: flex;
  align-items: center;
}
/* line 13, ../scss/vote/_vote-widget.scss */
.vote-widget.vote-widget--like-and-dislike .vote-dislike {
  display: none;
}
/* line 17, ../scss/vote/_vote-widget.scss */
.vote-widget.vote-widget--like-and-dislike .vote-like a,
.vote-widget.vote-widget--like-and-dislike .vote-like a:link,
.vote-widget.vote-widget--like-and-dislike .vote-like a:visited,
.vote-widget.vote-widget--like-and-dislike .vote-dislike a,
.vote-widget.vote-widget--like-and-dislike .vote-dislike a:link,
.vote-widget.vote-widget--like-and-dislike .vote-dislike a:visited {
  background-image: url(../img/heart-open.svg);
  height: 1rem;
  width: 1rem;
  background-size: 1rem;
  background-position: center !important;
  margin-right: 0.33333rem;
}
/* line 30, ../scss/vote/_vote-widget.scss */
.vote-widget.vote-widget--like-and-dislike .vote-like a.voted,
.vote-widget.vote-widget--like-and-dislike .vote-like a:link.voted,
.vote-widget.vote-widget--like-and-dislike .vote-like a:visited.voted,
.vote-widget.vote-widget--like-and-dislike .vote-dislike a.voted,
.vote-widget.vote-widget--like-and-dislike .vote-dislike a:link.voted,
.vote-widget.vote-widget--like-and-dislike .vote-dislike a:visited.voted {
  background-image: url(../img/heart.svg);
}
/* line 33, ../scss/vote/_vote-widget.scss */
.vote-widget.vote-widget--like-and-dislike .vote-like a.voted:hover,
.vote-widget.vote-widget--like-and-dislike .vote-like a:link.voted:hover,
.vote-widget.vote-widget--like-and-dislike .vote-like a:visited.voted:hover,
.vote-widget.vote-widget--like-and-dislike .vote-dislike a.voted:hover,
.vote-widget.vote-widget--like-and-dislike .vote-dislike a:link.voted:hover,
.vote-widget.vote-widget--like-and-dislike .vote-dislike a:visited.voted:hover {
  background-image: url(../img/heart-open.svg);
}
/* line 38, ../scss/vote/_vote-widget.scss */
.vote-widget.vote-widget--like-and-dislike .vote-like a:hover,
.vote-widget.vote-widget--like-and-dislike .vote-like a:link:hover,
.vote-widget.vote-widget--like-and-dislike .vote-like a:visited:hover,
.vote-widget.vote-widget--like-and-dislike .vote-dislike a:hover,
.vote-widget.vote-widget--like-and-dislike .vote-dislike a:link:hover,
.vote-widget.vote-widget--like-and-dislike .vote-dislike a:visited:hover {
  transform: scale(1.2);
  background-image: url(../img/heart-open-pink.svg);
}
