.indented {
  padding-left: $spacing * 2;
}

.indented .indented .indented .indented {
  padding-left: 0;
}

.comment--type-content.comment--view-mode-default {
  font-size: 1rem;
  margin-top: $spacing;
  position: relative;

  .comment-posted {
    display: flex;

    .field--name-comment-user {
      width: $spacing * 2.5;
      margin-right: $spacing;
    }
  }

  .field--name-comment-body,
  .vote-widget-wrapper {
    padding-left: $spacing * 3.5;
  }

  .comment-actions {
    position: absolute;
    right: 0;
    top: -0.5rem;

    .expand-links {
      padding: 0 $spacing-half;
      border-radius: 50%;
      border: none;
      display: block;
      height: 2rem;
      width: 2rem;
      line-height: 2.25;
      text-align: center;

      &:hover {
        background: #ddd;
      }
    }

    ul {
      display: none;
      opacity: 0;
      transition: all 0.333s ease-in-out;

      &.expanded {
        z-index: 2;
        display: block;
        position: absolute;
        right: 0;
        top: $spacing * 2.5;
        margin: 0;
        padding: 0;
        border: 1px solid #ddd;
        background: #fff;
        display: flex;
        flex-direction: column;
        border-radius: 2px;
        box-shadow: 0 0 20px rgba($dark, 0.1);
        opacity: 1;

        li {
          padding: 0;
          margin: 0;
          display: block;
          min-width: 10rem;

          a {
            display: block;
            padding: $spacing-half $spacing;
            border: none;
            color: $black;

            &:hover {
              background: #eee;
            }
          }
        }
      }
    }
  }
}