.vote-widget.vote-widget--like-and-dislike {
  font-size: 0.85rem;
  font-family: $font-family-condensed;
  font-weight: bold;
  color: $dark;
  padding-top: $spacing-half;

  .vote-like {
    display: flex;
    align-items: center;
  }

  .vote-dislike {
    display: none;
  }

  .vote-like a,
  .vote-like a:link,
  .vote-like a:visited,
  .vote-dislike a,
  .vote-dislike a:link,
  .vote-dislike a:visited {
    background-image: url(../img/heart-open.svg);
    height: 1rem;
    width: 1rem;
    background-size: 1rem;
    background-position: center !important;
    margin-right: $spacing / 3;

    &.voted {
      background-image: url(../img/heart.svg);

      &:hover {
        background-image: url(../img/heart-open.svg);
      }
    }

    &:hover {
      transform: scale(1.2);
      background-image: url(../img/heart-open-pink.svg);
    }
  }
}