.block-menu.menu--main {
  display: none;

  @include breakpoint($breakpoint-medium) {
    display: block;
    flex-grow: 1;
  }

  a {
    color: $white;
  }

  >ul.menu {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;

    // FIRST LEVEL
    >li {
      position: relative;
      height: 4rem;

      &:last-child {
        margin-left: auto;
      }

      >a {
        padding: $spacing;
        height: 100%;
        font-weight: 400;
        border: none;
        display: block;
        line-height: 2;

        &:hover,
        &:focus,
        &.is-active {
          background: lighten($tire, 30%);
        }
      }
    }

    // SECOND LEVEL
    ul {
      display: none;
      position: absolute;
      padding: 0;
      margin: 0;
      right: 0;
      z-index: 9999;
      min-width: 10rem;
      background: $white;
      list-style: none;
      box-shadow: 0 0 10px rgba($black, 0.4);

      a {
        color: $black;
        width: 100%;
        padding: $spacing-half $spacing;
        display: block;
        border: none;
        white-space: nowrap;

        &:hover,
        &:focus {
          background: $satin;
        }
      }
    }


    li:hover ul,
    li:focus ul {
      display: flex;
      flex-direction: column;
    }
  }
}