.menu--account {
  display: none;
  margin-left: auto;

  @include breakpoint($breakpoint-medium) {
    display: block;
  }

  >ul.menu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;

    >li {
      position: relative;

      >a {
        color: $white;
        padding: $spacing;
        height: 100%;
        font-weight: 400;
        border: none;
        display: block;
        line-height: 1.8; //To compensate for the svg's in it.

        &:hover,
        &:focus,
        &.is-active {
          border: none;
          background: lighten($tire, 30%);
        }
      }
    }

    ul {
      display: none;
      position: absolute;
      padding: 0;
      margin: 0;
      right: 0;
      z-index: 9999;
      min-width: 10rem;
      background: $white;
      list-style: none;
      box-shadow: 0 0 10px rgba($black, 0.4);

      a {
        color: $black;
        width: 100%;
        padding: $spacing-half $spacing;
        display: block;
        border: none;
        white-space: nowrap;

        &:hover,
        &:focus {
          background: $satin;
        }
      }
    }

    li:hover ul {
      display: flex;
      flex-direction: column;
    }
  }
}

.region-above .menu--account {
  background: $blue;

  ul.menu {
    justify-content: center;

    >li>a {

      &:hover,
      &:focus,
      &.is-active {
        background: lighten($blue, 10%);
      }
    }
  }
}