ul.tabs {
  margin: 0 0 $margin;
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;


  li {
    margin: 0 0 $spacing-half 0;

    @include breakpoint($breakpoint-small) {
      margin-right: $spacing-half;
    }

    a {
      background: $white;
      padding: $spacing-half;
      display: block;
      border: 1px solid $tin;
      border-radius: 4px;
      font-size: 1rem;
      white-space: nowrap;
      color: $link-color;

      &:hover {
        background: $porcelain;
      }
    }

    &.is-active a {
      color: $link-color;
      background: $porcelain;
    }
  }

  @include breakpoint($breakpoint-small) {
    flex-direction: row;
    border-bottom: 1px solid $delft;

    li {
      margin: 0;

      a {
        border: none;
        border-bottom: 3px solid transparent;
        background: transparent;
        border-radius: 0;

        &:hover {
          border-bottom: 3px solid $delft;
          background: transparent;
        }
      }

      &.is-active a {
        border-bottom: 3px solid $delft;
        background: transparent;
      }
    }
  }
}