.user--view-mode-compact {
  background: $white;
  width: 100%;
  border-radius: 6px;
  padding: $spacing;
  margin-bottom: $spacing;
  box-shadow: 0 0px 16px rgba($black, 0.1);
  display: flex;
  position: relative;

  .field--type-image img {
    width: 6rem;
    display: inline-block;
    border: 4px solid $white;
    border-radius: 50%;
    box-shadow: 0 0 4px rgba($dark, 0.3);
    overflow: hidden;
    margin-right: $spacing;
  }

  .field {
    margin-bottom: $spacing-half;
  }

  .big-link a {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    text-indent: -9999px;

    &:hover {
      box-shadow: 0 0 10px rgba($black, 0.1);
      border: none;
    }
  }
}