.view-user-profile,
.view-user-header {
  .user-banner {
    height: 60vh;
    background-color: $blue;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
  }

  .avatar {
    margin: 0 auto;

    .field--name-field-image {
      background: $white;
      border-radius: 50%;
      border: 4px solid $white;
      width: 10rem;
      box-shadow: 0 0 10px rgba($black, 0.2);
      overflow: hidden;

      margin: 0 auto $spacing-double;
    }

    .field--name-field-name {
      font-size: 2.5rem;
      color: $white;
      font-family: $font-family-header;
      text-shadow: 0 0 4px $black;
      text-align: center;
      padding-bottom: $spacing * 4;
    }
  }
}

.block-views-blockuser-profile-block-user-header {
  position: relative;

  .edit-button {
    position: absolute;
    right: $spacing-double;
    top: $spacing-double;
    width: 2rem;
    height: 2rem;
    text-align: center;
    line-height: 2;
    color: $black;
    border: 2px solid $white;
    border-radius: 50%;
    background: $white;
    font-size: 1rem;
    box-shadow: 0 0 10px rgba($black, 0.2);

    &:hover {
      background: $satin;
    }
  }
}