.user--view-mode-avatar,
.user--view-mode-avatar-with-name {
  .field--type-image a {
    display: inline-block;
    border: 4px solid $white;
    border-radius: 50%;
    box-shadow: 0 0 4px rgba($dark, 0.3);
    overflow: hidden;
  }
}

.user--view-mode-avatar-with-name {
  text-align: center;

  .field--type-image a {
    width: $spacing * 4;
    margin: 0 auto;
  }
}