*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  margin: 0;
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
  font-weight: $font-weight-base;
  text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

article,
aside,
dialog,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

body {
  margin: 0;
  text-align: left;
  background: #eee;
  font-size: 1.125rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: $margin;
  line-height: 1.2;
  font-weight: $font-weight-header-base;
  font-family: $font-family-header;
  letter-spacing: -0.48px;
  color: $header-color;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.33rem;
}

h5 {
  font-size: 1.25rem;
}

p {
  margin: 0;
}

p+p {
  margin: $margin 0 0 0;
}

ol,
ul {
  margin: 0 0 $margin 0;
}

ol ol,
ul ul {
  margin-bottom: 0;
}

P+ul {
  margin-top: $margin;
  font-style: italic;
}

p+ol {
  margin-top: $margin;
  font-style: italic;
}

strong {
  font-weight: 600;
}

a {
  text-decoration: none;
  color: $link-color;
  border-bottom: 1px solid transparent;
  transition: all 0.3333s ease-in-out;

  &:hover {
    text-decoration: none;
    border-bottom-color: currentColor;
  }
}

img {
  display: block;
  margin: 0;
  border: 0;
  max-width: 100%;
  height: auto;
}

.dialog-off-canvas-main-canvas {
  position: relative;
}