.view-borrow.view-display-id-page {
  .views-infinite-scroll-content-wrapper {
    @include breakpoint($breakpoint-medium) {
      display: flex;
      flex-wrap: wrap;
      margin: 0 (-$spacing-half);

      .views-row {
        padding: 0 $spacing-half;
        width: 50%;
      }
    }

    @include breakpoint($breakpoint-max) {
      .views-row {
        width: 33.333%;
      }
    }
  }

  .view-filters {
    background: $white;
    padding: $spacing;
    border-radius: 6px;
    margin-bottom: $spacing;
    box-shadow: 0 0px 16px rgba($black, 0.1);

    .form--inline {
      display: flex;
      flex-direction: column;

      @include breakpoint($breakpoint-medium) {
        flex-direction: row;
      }
    }

    .form-item {
      margin-bottom: $spacing;
      width: 100%;

      &:last-child {
        margin-bottom: 0;
      }

      @include breakpoint($breakpoint-medium) {
        margin-bottom: 0;
        width: 50%;
      }

      input {
        margin-bottom: 0;
        padding: 1.125rem;
      }

      select {
        margin-bottom: 0;
        width: 100%;
      }
    }

    .form-actions {
      display: none;
    }
  }
}