.view-message-board.view-display-id-stream,
.view-message-board.view-display-id-user_stream {
  .views-row {
    border-left: 3px solid $tin;
    padding-left: $spacing-double;
    padding-bottom: $spacing;
    position: relative;

    &:before {
      content: '';
      height: 17px;
      width: 17px;
      position: absolute;
      left: -10px;
      top: 30px;
      border: 2px solid $white;
      border-radius: 50%;
      background: $dim-grey;
    }

    &:last-child {
      padding-bottom: 0;
    }
  }
}