.view-photos.view-display-id-page {
  .views-infinite-scroll-content-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 0 (-$spacing/2);

    .views-row {
      padding: 0 $spacing/2 $spacing;
      width: 50%;

      @include breakpoint($breakpoint-medium) {
        width: 33.333%;
      }

      @include breakpoint($breakpoint-large) {
        width: 25%;
      }
    }
  }
}