.view-flaggers.view-id-flaggers {
  .view-content {

    display: flex;
    flex-wrap: wrap;
    margin: 0 (-$spacing-half);

    .views-row {
      width: 100%;
      padding: 0 $spacing-half;
      margin-bottom: $spacing;
      display: flex;
      align-items: center;

      @include breakpoint($breakpoint-medium) {
        width: 50%;
      }

      @include breakpoint($breakpoint-large) {
        width: 33.333%;
      }

      @include breakpoint($breakpoint-max) {
        width: 25%;
      }

      .views-field-field-image {
        max-width: 4rem;
        margin-right: $spacing;

        a {
          display: block;
          border: 4px solid white;
          border-radius: 50%;
          box-shadow: 0 0 4px rgba(89, 6, 6, 0.3);
          overflow: hidden;
        }
      }
    }
  }
}