.view-who-is-who.view-display-id-page {
  @include breakpoint($breakpoint-large) {
    .view-content {
      display: flex;
      flex-wrap: wrap;
      margin: 0 (-$spacing /2);

      .views-row {
        padding: 0 $spacing-half;
        width: 50%;
        display: flex;
      }
    }
  }

  @include breakpoint($breakpoint-max) {
    .view-content .views-row {
      width: 33.333%;
    }
  }
}