.flag {
  padding-top: $spacing;
  text-align: center;
  background: $blue;
  width: 100vw;
  left: 50%;
  transform: translateX(-50%);
  position: relative;
  padding: $spacing;

  a {
    display: inline-block;
    text-transform: uppercase;
    border: 1px solid $white;
    color: $white;
    background: $blue;
    font-family: $font-family-condensed;
    font-weight: bold;
    padding: $spacing-half $spacing;
    border-radius: 4px;

    &:hover {
      border: 1px solid $white;
      background: darken($blue, 10%);
    }
  }

  margin-bottom: $spacing;

  &.action-unflag a {
    background: transparent;
    color: rgba($white, 0.6);
    border: 1px solid rgba($white, 0.6);
  }
}