.field--name-field-category {
  padding: $spacing 0;

  .field__item a,
  a {
    margin-top: $spacing-half;
    border: 1px solid $blue;
    padding: $spacing-half $spacing;
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
    font-family: $font-family-condensed;
    border-radius: 2px;
  }
}