.field--name-field-comments {
  margin: $spacing (-$spacing) (-$spacing);
  padding: $spacing;
  background-color: rgb(250, 250, 250);
  border-top: 1px solid $porcelain;
  border-radius: 0 0 6px 6px;
  font-size: 1rem;

  display: flex;
  flex-direction: column;

  h2 {
    display: none;
  }

}