.node--type-event.node--view-mode-full {
  .event-image {
    width: 100vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background-size: cover;
    background-position: center;

    @include breakpoint($breakpoint-medium) {
      padding-top: 60%;
    }
  }

  .event-meta {
    background: $satin;
    border: 1px solid $porcelain;
    padding: $spacing;
    margin-bottom: $spacing;
    border-radius: 6px;

    @include breakpoint($breakpoint-medium) {
      display: flex;

      .field--name-field-date-time {
        margin-right: $spacing;
      }
    }
  }

  h1 {
    max-width: $breakpoint-max;
    margin: 0;
    padding: $spacing * 4 $spacing;
    text-align: center;
    color: $white;
    text-shadow: 0 0 4px rgba($dark, 0.8);

    @include breakpoint($breakpoint-medium) {
      font-size: 3rem;
      left: 50%;
      top: 50%;
      padding: 0 $spacing-double;
      position: absolute;
      transform: translate(-50%, -50%);
    }
  }
}