.node--type-meeting.node--view-mode-full {

  .meeting-meta-wrapper {

    background: $satin;

    @include breakpoint($breakpoint-medium) {
      width: 100vw;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      margin: 0 auto;
    }

    .meeting-meta {
      width: 100%;
      padding: $spacing;

      @include breakpoint($breakpoint-medium) {
        padding: $spacing $spacing-double;
        display: flex;
        flex-wrap: wrap;
      }

      @include breakpoint($breakpoint-max) {
        width: $breakpoint-max;
        margin: 0 auto;
        padding: $spacing-double;
      }
    }

    .field--name-field-date-time {
      width: 100%;
      margin-bottom: $spacing;

      @include breakpoint($breakpoint-medium) {
        width: 33.333%;
        padding-right: $spacing;
        margin-bottom: 0;
      }
    }
  }

  .field--name-field-files,
  .field--name-field-agenda {
    margin: $spacing 0;

    .field__label {
      margin-bottom: $margin;
      line-height: 1.2;
      font-weight: $font-weight-header-base;
      font-family: $font-family-header;
      letter-spacing: -0.48px;
      color: $header-color;
      font-size: 1.75rem;
    }
  }

  .field--name-field-files {
    table {
      width: 100%;
      border: 1px solid $porcelain;

      th {
        padding: $spacing-half;
      }

      tbody tr {
        border-top: 1px solid $porcelain;

        &:nth-child(2n-1) {
          background: $satin;
        }
      }

      td {
        padding: $spacing-half;
      }

      td:last-child {
        font-size: 0.9rem;
      }
    }
  }

  .field--name-field-participants {
    width: 100%;
    margin-bottom: $spacing;

    .field__label {
      margin-bottom: $spacing;
    }

    .field__items {
      display: flex;
      flex-wrap: wrap;
      margin: 0 (-$spacing-half) $spacing;

      .field__item {
        padding: 0 $spacing-half;
      }
    }
  }
}