.node--type-event.node--view-mode-teaser {
  padding: $spacing;
  border-radius: 6px;
  background: $white;
  box-shadow: 0 0px 16px rgba($black, 0.1);
  position: relative;

  &:before {
    content: '';
    border-left: 15px solid transparent;
    border-top: 15px solid transparent;
    border-right: 15px solid white;
    border-bottom: 15px solid transparent;
    height: 0px;
    width: 0px;
    position: absolute;
    left: -30px;
    top: 24px;
  }

  >.avatar {
    display: flex;
    width: 100%;
    padding-bottom: $spacing;
    align-items: top;

    .field--name-user {
      max-width: $spacing * 3;
    }

    .posted {
      padding-left: $spacing;
      flex-grow: 1;
      font-size: 1rem;

      .field--name-node-author {
        a {
          font-weight: bold;
        }

        &:after {
          content: ' heeft een evenement toegevoegd: ';
        }
      }
    }
  }

  .event-content {
    margin: 0 (-$spacing) (-$spacing);
    background: $porcelain;
    border-radius: 0 0 6px 6px;
    display: flex;

    .field--type-image {
      width: 50%;
      display: none;

      @include breakpoint($breakpoint-medium) {
        display: block;
      }

      img {
        border-radius: 0 0 0 6px;
      }
    }

    .event-details {
      width: 50%;
      font-size: 1rem;
      padding: $spacing;
      flex-grow: 1;
      display: flex;
      flex-direction: column;

      .field--name-node-link {
        margin-top: auto;
      }
    }
  }
}