.node--type-event.node--view-mode-list {
  padding: 0 $spacing $spacing;
  border-radius: 6px;
  background: $white;
  box-shadow: 0 0px 16px rgba($black, 0.1);
  position: relative;

  .event-content {
    margin: 0 (-$spacing) (-$spacing);
    background: $white;
    border-radius: 0 0 6px 6px;
    display: flex;

    .field--type-image {
      width: 50%;
      display: none;

      @include breakpoint($breakpoint-medium) {
        display: block;
      }

      img {
        border-radius: 0 0 0 6px;
      }
    }

    .event-details {
      width: 50%;
      font-size: 1rem;
      padding: $spacing;
      flex-grow: 1;
      display: flex;
      flex-direction: column;

      .field--name-node-link {
        margin-top: auto;
      }
    }
  }
}