.node--type-borrow-item.node--view-mode-teaser {
  border-radius: 6px;
  background: $white;
  margin-bottom: $spacing;
  box-shadow: 0 0px 16px rgba($black, 0.1);

  .borrow-image {
    padding-top: 100%;
    border-radius: 6px 6px 0 0;
    background-size: cover;
    background-position: center;

    .field--name-bundle-fieldnode {
      display: none;
    }
  }

  .borrow-content {
    padding: $spacing;

    h2 {
      margin-bottom: 0;
    }

    .field--name-field-category {
      padding: $spacing-half 0 $spacing;
    }
  }
}