.node--type-borrow-item.node--view-mode-full {
  .borrow-image {
    width: 100vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background-size: cover;
    background-position: center;

    @include breakpoint($breakpoint-medium) {
      padding-top: 60%;
    }
  }

  .borrow-content {
    padding: $spacing-double 0 $spacing;


  }

  .slick-slider {
    width: 100vw;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
    margin: 0 auto;

    @include breakpoint($breakpoint-medium) {
      width: 100%;
      left: unset;
      transform: none;
    }
  }

  .slick-arrow {
    position: absolute;
    height: 2rem;
    width: 2rem;
    background: $white;
    border-radius: 50%;
    left: $spacing-double;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9999;
    padding: 0;
    box-shadow: 0 0 10px rgba($black, 0.4);
    color: transparent;
    font-size: 0px;

    &::before {
      content: '←';
      color: $blue;
      height: 2rem;
      width: 2rem;
      text-align: center;
      font-size: 1.5rem;
      transform: translateY(-50%);
      line-height: 1rem;
      font-weight: bold;

      @include breakpoint($breakpoint-large) {
        font-size: 2rem;
      }
    }

    @include breakpoint($breakpoint-large) {
      width: 3rem;
      height: 3rem;
    }

    &.slick-next {
      left: unset;
      right: $spacing-double;

      &::before {
        content: '→';
      }
    }
  }

  h1 {
    max-width: $breakpoint-max;
    margin: 0;
    padding: $spacing * 4 $spacing;
    text-align: center;
    color: $white;
    text-shadow: 0 0 4px rgba($black, 0.8);

    @include breakpoint($breakpoint-medium) {
      font-size: 3rem;
      left: 50%;
      top: 50%;
      padding: 0 $spacing-double;
      position: absolute;
      transform: translate(-50%, -50%);
    }
  }
}