.node--type-photo-album.node--view-mode-full {
  .photo-album-photos {
    padding: $spacing 0;
    margin: -0.25rem;

    @include breakpoint($breakpoint-medium) {
      margin: -0.5rem;
    }

    .field {
      margin-bottom: $spacing;
      width: 50%;
      padding: 0.25rem;
      margin: 0;
      float: left;

      @include breakpoint($breakpoint-medium) {
        width: 33%;
        padding: 0.5rem;
      }

      @include breakpoint($breakpoint-large) {
        width: 25%;
      }

      @include breakpoint($breakpoint-max) {
        width: 20%;
      }
    }



    .reference-info-window {
      width: 100%;
      background: $satin;
      left: 50%;
      margin-left: -50vw;
      margin-right: -50vw;
      max-width: 100vw;
      position: relative;
      right: 50%;
      width: 100vw;
      clear: both;
      padding: $spacing;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.4) inset;
      text-align: center;

      @include breakpoint($breakpoint-medium) {
        padding: $spacing-double;

        img {
          margin: 0 auto;
          width: 100%;
          max-width: $breakpoint-max;
        }
      }
    }
  }

  .comment-wrapper {
    left: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    max-width: 100vw;
    position: relative;
    right: 50%;
    width: 100vw;
    clear: both;
    padding: $spacing;

    form {
      width: 100%;
      max-width: $breakpoint-max;
      margin: 0 auto;

      @include breakpoint($breakpoint-medium) {
        padding: 0 $spacing-double;
      }
    }

    .comment {
      width: 100%;
      max-width: $breakpoint-max;
      margin-left: auto;
      margin-right: auto;

      @include breakpoint($breakpoint-medium) {
        padding: 0 $spacing-double;
      }
    }
  }
}