.node--type-photo-album.node--view-mode-teaser {
  border-radius: 6px;
  background: $white;
  margin-bottom: $spacing;
  box-shadow: 0 0px 16px rgba($black, 0.1);
  padding: $spacing;

  &:before {
    content: '';
    border-left: 15px solid transparent;
    border-top: 15px solid transparent;
    border-right: 15px solid white;
    border-bottom: 15px solid transparent;
    height: 0px;
    width: 0px;
    position: absolute;
    left: -30px;
    top: 24px;
  }

  >.avatar {
    display: flex;
    width: 100%;
    padding-bottom: $spacing;
    align-items: top;

    .field--name-user {
      max-width: $spacing * 3;
    }

    .posted {
      padding-left: $spacing;
      flex-grow: 1;
      font-size: 1rem;

      .field--name-node-author {
        a {
          font-weight: bold;
        }

        &:after {
          content: ' heeft een fotoalbum toegevoegd: ';
        }
      }
    }
  }

  .photoalbum-content {
    .photos-wrapper {
      margin: 0 (-$spacing);
      margin-bottom: $spacing;

      @include breakpoint($breakpoint-medium) {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
      }
    }

    .photo-first {
      @include breakpoint($breakpoint-medium) {
        width: 75%;
        padding-right: 0;
      }
    }

    .other-photos {
      display: flex;
      flex-wrap: nowrap;
      margin: 0 -1px;

      >.field {
        padding: 2px 1px;
      }

      @include breakpoint($breakpoint-medium) {
        flex-direction: column;
        flex-wrap: wrap;
        width: 25%;
        padding-left: 2px;

        margin: 0;

        >.field {
          padding: 0 0 2px 0;

          &:last-child {
            padding-bottom: 0;
          }
        }
      }
    }
  }
}