.node--type-message.node--view-mode-teaser {
  padding: $spacing;
  position: relative;
  border-radius: 6px;
  background: $white;
  box-shadow: 0 0px 16px rgba($black, 0.1);

  &:before {
    content: '';
    border-left: 15px solid transparent;
    border-top: 15px solid transparent;
    border-right: 15px solid white;
    border-bottom: 15px solid transparent;
    height: 0px;
    width: 0px;
    position: absolute;
    left: -30px;
    top: 24px;
  }

  >.avatar {
    display: flex;
    width: 100%;
    padding-bottom: $spacing;
    align-items: top;

    .field--name-user {
      max-width: $spacing * 3;
    }

    .posted {
      padding-left: $spacing;
      flex-grow: 1;
      font-size: 1rem;

      .field--name-node-author {
        a {
          font-weight: bold;
        }

        &:after {
          content: ' schreef op: ';
        }
      }
    }
  }

  .message {
    .field--name-field-image {
      margin-top: $spacing;
    }
  }
}