.page-header {
  position: relative;
  background: $header-color;
  color: $menu-link-color;
  width: 100%;
  display: flex;
  z-index: 3;

  @include breakpoint($breakpoint-medium) {
    height: unset;
    display: block;
    position: fixed;
  }
}

.page-content {
  z-index: 1;

  @include breakpoint($breakpoint-medium) {
    padding-top: 64px;
  }
}

body.page-node-type-photo-album,
body.path-node.page-node-type-event,
body.path-node.page-node-type-borrow-item,
body.path-node.page-node-type-meeting {
  background: $white;

  .page-container {
    padding-top: 0;
  }
}

body.has-aside .page-container {
  @include breakpoint($breakpoint-large) {
    display: flex;

    .main-content {
      width: 66.666%;
      padding-right: $spacing;
    }

    .aside {
      width: 33.333%;

      .region-aside {
        position: sticky;
        top: 80px;
      }
    }
  }

  @include breakpoint($breakpoint-max) {
    display: flex;

    .main-content {
      width: 70%;
      padding-right: $spacing;
    }

    .aside {
      width: 30%;
    }
  }
}

body.toolbar-tray-open.has-aside.toolbar-vertical .page-container {
  @include breakpoint($breakpoint-large) {
    aside {
      .region-aside {
        top: 120px;
      }
    }
  }
}

body.toolbar-tray-open.has-aside .page-container {
  @include breakpoint($breakpoint-large) {
    aside {
      .region-aside {
        top: 160px;
      }
    }
  }
}