.aside .block {
  background: $white;
  padding: $spacing;
  margin-bottom: $spacing;
  border-radius: 6px;
  box-shadow: 0 0px 16px rgba($black, 0.1);
  font-size: 1rem;

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.2rem;
    margin-bottom: 0;
  }
}