.block-system-branding-block {
  background: $blue;
  width: 100%;

  @include breakpoint($breakpoint-medium) {
    width: auto;
  }

  a.site-logo {
    color: $menu-link-color;
    display: block;
    border: none;
    line-height: 1;
    font-family: $font-family-header;
    padding: $spacing;
    width: 100%;

    img {
      height: 2rem;
      width: auto;
      margin: 0 auto;
    }
  }
}