.block-search {
  position: absolute;
  top: 4rem;
  width: 100%;
  background: white;
  z-index: 9998;
  left: 0;
  padding: $spacing;
  transform: translateY(calc(-100% - 4rem));
  transition: all 600ms ease-in-out;
  box-shadow: 0 0 10px rgba($black, 0.3);
  z-index: 2;

  body.search-bar-open & {
    transform: translate(0);
  }

  h2 {
    text-align: center;
  }

  form {
    width: 100%;
    display: flex;

    .form-item {
      flex-grow: 1;

      input {
        width: 100%;
        padding: 14px;
        border-radius: 2px 0 0 2px;
      }
    }

    .form-actions {
      input {
        border-radius: 0 2px 2px 0;
      }
    }

    .form-item,
    .form-actions {
      margin-bottom: 0;

      input {
        margin-bottom: 0;
      }
    }
  }
}