.user-register-form {

  fieldset {
    border: none;
    margin-bottom: 0;

    legend {
      font-family: $font-family-header;
      font-size: 2rem;
      color: $header-color;
      margin-bottom: $margin;
    }

    .fieldset-wrapper {
      @include breakpoint($breakpoint-medium) {
        display: flex;
        margin: 0 (-$spacing-half);

        >div {
          padding: 0 $spacing-half;
          width: 50%;
        }
      }
    }
  }

  details {
    background: $white;
    border-radius: 6px;
    margin: 0 0 $spacing;
    padding: $spacing;

    .details-wrapper {
      padding: 0;
    }

    .details-description {
      margin-bottom: $spacing;
    }

    summary {
      background: none;
      padding: 0;
      color: $delft;
      font-family: $font-family-header;
      font-weight: 600;
    }
  }

  .form-type-password-confirm {
    @include breakpoint($breakpoint-medium) {
      flex-direction: row;
      flex-wrap: wrap;
      margin: 0 (-$spacing-half) $margin;

      .form-item {
        padding: 0 $spacing-half;
        width: 50%;
      }

      .password-suggestions {
        padding: 0 $spacing;
        width: 50%;
        border: none;
        max-width: none;
        margin: 0;
      }

      .description {
        width: 50%;
        padding: 0 $spacing-half;
      }
    }

    .form-item {
      input {
        width: 100%;
        margin-bottom: 0;
      }
    }

    .password-strength,
    div.password-confirm {
      width: 100%;
      font-size: 1rem;
    }

    div.password-confirm {
      margin: 0;
      padding-top: $spacing;
    }

    .password-strength__meter {
      margin: 0 0 $spacing-half;
      height: $spacing / 2;
      border-radius: 0 0 2px 2px;
    }
  }

  .edit-timezone {
    display: none;
  }
}