.comment-content-form {
  display: flex;
  flex-direction: column;

  @include breakpoint($breakpoint-medium) {
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .form-item {
    margin-bottom: 0;
  }

  .form-actions {
    margin: 0;

    input {
      margin-bottom: 0;
    }
  }

  .field--name-comment-body {
    flex-grow: 1;
    padding: 0;
    margin-bottom: $spacing;

    @include breakpoint($breakpoint-medium) {
      padding-right: $spacing;
    }
  }

  label {
    display: none;
  }

  .filter-wrapper {
    display: none;
  }
}