.block-formblock-node {
  border-left: 3px solid $tin;
  padding-bottom: $spacing;
  padding-left: $spacing-double;
  position: relative;

  &:before {
    content: '';
    height: 17px;
    width: 17px;
    position: absolute;
    left: -10px;
    top: 30px;
    border: 2px solid $white;
    border-radius: 50%;
    background: $blue;
  }

  &:after {
    content: '';
    width: 7px;
    height: 30px;
    position: absolute;
    top: 0;
    left: -5px;
    background: #eee;
  }
}

.node-message-form.node-form {
  padding: $spacing;
  border-radius: 6px;
  background: $white;
  box-shadow: 0 0px 16px rgba($black, 0.1);
  flex-wrap: wrap;
  display: flex;
  flex-wrap: wrap;
  position: relative;

  &:before {
    content: '';
    border-left: 15px solid transparent;
    border-top: 15px solid transparent;
    border-right: 15px solid white;
    border-bottom: 15px solid transparent;
    height: 0px;
    width: 0px;
    position: absolute;
    left: -30px;
    top: 24px;
  }

  .form-type-vertical-tabs {
    display: none !important;
  }

  .form-item {
    margin-bottom: 0;
  }

  .form-actions {
    margin: 0 0 0 auto;
  }

  .field--name-body {
    width: 100%;
    padding-bottom: $spacing;

    label {
      display: none;
    }
  }

  .field--name-field-image {
    label {
      display: none;
    }

    .description {
      display: none;
    }

    button {
      margin-bottom: 0;
    }
  }

  input {
    margin-bottom: 0;
  }
}