.form-item {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0 0 $margin 0;

  label {
    font-family: $font-family-forms;
    font-weight: 700;
    margin-bottom: $spacing / 4;
    font-size: 1rem;
  }

  .description {
    font-size: 1rem;
    font-weight: 300;
  }

  &.form-type-checkbox {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;

    input {
      margin-right: $spacing-half;
    }

    .description {
      width: 100%;
      margin-left: 0;
    }
  }
}

.form-actions {
  margin: 0 0 $margin;
  text-align: center;
}

.field--type-datetime {
  .fieldset-wrapper {

    .container-inline {
      display: flex;
      flex-direction: column;

      @include breakpoint($breakpoint-medium) {
        flex-direction: row;
        margin: 0 (-$spacing/4);
      }

      .form-item {
        margin-bottom: 0;
        flex-grow: 1;

        @include breakpoint($breakpoint-medium) {
          padding: 0 $spacing/4;
        }

        select {
          width: 100%;
          margin-bottom: $spacing;

          @include breakpoint($breakpoint-medium) {
            margin-bottom: 0;
          }
        }

        &:last-child {
          select {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

.horizontal-tabs {
  background: transparent;
  border: none;

  ul.horizontal-tabs-list {
    background: transparent;
    border: none;
    display: flex;
    clear: none;


    .horizontal-tab-button {
      border: none;
      background: transparent;
      margin-right: 2px;
      float: none;
      min-width: unset;
      border-radius: 6px 6px 0 0;

      a {
        border: none;
        padding: $spacing-half $spacing;

        &:hover {
          border: none;
          background: rgba($white, 0.5);
        }
      }

      &.selected {
        background-color: $white;

        a {
          padding: $spacing-half $spacing
        }
      }


    }
  }
}

.horizontal-tabs-panes {
  details {
    background: $white;
    border-radius: 0 6px 6px 6px;
    box-shadow: 0 0px 16px rgba($black, 0.1);
    margin: 0;
    padding: $spacing;

    >.details-wrapper {
      padding: 0;
    }
  }
}