input,
button,
input[type="submit"],
textarea {
  transition: all 0.3333s ease-in-out;
  border-radius: 2px;
}

%textfield-base {
  max-width: 100%;
  border: 1px solid $silver;
  padding: $spacing * 0.75;
  font-size: 1.125rem;
  font-family: $font-family-forms;
  box-shadow: inset 0 0 15px rgba($dim-grey, 0.15);
  margin-bottom: $margin;

  &:focus,
  &:hover {
    outline: none;
    border: 1px solid $form-accent-color;
    box-shadow: none;
    box-shadow: 0 0 5px rgba($form-accent-color, 0.4);
  }
}

textarea,
input[type="search"],
input[type="email"],
input[type="password"],
input[type="text"],
input[type="date"],
input[type="time"],
input[type="tel"] {
  @extend %textfield-base;
}


%button-base {
  background: $form-accent-color;
  color: $white;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
  padding: 0.75rem $spacing * 1.5;
  font-size: 1rem;
  border: 1px solid $form-accent-color;
  font-weight: 600;
  font-family: $font-family-header;
  margin-bottom: $margin;

  &:hover,
  &:focus {
    background-color: darken($form-accent-color, 20%);
    box-shadow: 0 0 30px rgba($black, 0.05);
  }
}

input[type="submit"],
button,
.button {
  @extend %button-base;
}

.button-light {
  border: 1px solid $form-accent-color;
  background-color: transparent;
  color: $form-accent-color;

  &:hover,
  &:focus {
    border: 1px solid $form-accent-color;
    background-color: lighten($form-accent-color, 60%);
    color: $form-accent-color;
  }
}

select {
  -webkit-appearance: none;
  appearance: none;
  margin-bottom: 1rem;
  border-radius: 2px;
  border: 1px solid $silver;
  box-shadow: inset 0 0 15px rgba($dim-grey, 0.15);
  padding: calc(1rem - 1px) 2.5rem;
  padding-left: 1.5rem;
  font-size: 1.125rem;
  font-family: $font-family-forms;
  background-color: $white;
  background-image: url(../img/arrow-down.svg);
  background-position: right 1rem center;
  background-repeat: no-repeat;
  background-size: .75rem;
  color: $form-accent-color;

  &:focus {
    outline: none;
    border: 1px solid $form-accent-color;
    box-shadow: 0 0 5px rgba($form-accent-color, 0.4);
  }
}

legend,
label,
.form-composite>legend,
.label {
  font-family: $font-family-forms;
  font-weight: 700;
  margin-bottom: $spacing / 4;
  font-size: 1rem;
}

.form-type-managed-file .description {
  display: none;
}