.node-borrow-item-form.node-form {
  max-width: $breakpoint-large;
  margin: 0 auto;

  .form-wrapper:not(.form-actions) {
    background: $white;
    border-radius: 6px;
    padding: $spacing;
    margin-bottom: $spacing;
    box-shadow: 0 0px 16px rgba($black, 0.1);

    .form-item {
      margin-bottom: 0;

      input {
        margin-bottom: 0;
      }
    }
  }
}