$font-size-base: 16px;
$line-height-base: 1.5;
$font-family-base: 'Roboto',
serif;
$font-family-condensed: 'Roboto Condensed',
sans-serif;
$font-family-header: 'Titillium Web';
$font-weight-base: 300;
$font-weight-header-base: 600;
$font-family-forms: $font-family-condensed;

$margin: 1.25rem;
$spacing: 1rem;
$spacing-half: $spacing / 2;
$spacing-double: 2 * $spacing;

$breakpoint-all : 0;
$breakpoint-small : 540px;
$breakpoint-medium: 768px;
$breakpoint-large : 1024px;
$breakpoint-max: 1280px;

$breakpoint-all-small : $breakpoint-all ($breakpoint-small - 1);
$breakpoint-all-medium : $breakpoint-all ($breakpoint-medium - 1);
$breakpoint-small-medium: $breakpoint-small ($breakpoint-medium - 1);



$black: rgb(0, 0, 0);
$tire: rgb(48, 48, 64);
$dark: rgb(64, 64, 64);
$dim-grey: rgb(96, 96, 96);
$tin: rgb(169, 169, 169);
$silver: rgb(202, 203, 203);
$porcelain: rgb(224, 224, 224);
$satin: rgb(240, 240, 240);
$white: rgb(255, 255, 255);

// Colors in use
$forsyth: rgb(56, 49, 55);
$delft: rgb(31, 48, 94);
$blue: rgb(58, 87, 154);
$cornflower: rgb(100, 149, 237);
$pink: #d9534f;

$header-color: $tire;
$form-accent-color: $tire;
$accent-color: $tire;
$link-color: $delft;
$menu-link-color: $white;