<header role="banner" class="page-header">
  <div class="menu-toggler toggle-button"><a><i class="fas fa-bars"></i></a></div>
  {{ page.header }}
  <div class="search-toggler toggle-button"><a><i class="fas fa-search"></i></a></div>
</header>

<main role="main" class="page-content">
  <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}
  
  {{ page.above }}
  <div class="page-container">
    <div class="main-content">
      {{ page.content }}
    </div>
    {% if page.aside %}
    <aside class="aside">
      {{ page.aside }}
    </aside>
    {% endif %}
  </div>
  
  {{ page.below }}
</main>

<footer role="contentinfo" class="page-footer">
  {{ page.footer }}
  <div class="disclaimer">&copy; 2019 <a href="http://zbl3.com">FORSYTH Webdevelopment</a></div>
</footer>
