{%
  set classes = [
    'field',
    'field--name-' ~ field_name|clean_class,
    'field--type-' ~ field_type|clean_class,
    'field--label-' ~ label_display,
  ]
%}
{%
  set title_classes = [
    'field__label',
    label_display == 'visually_hidden' ? 'visually-hidden',
  ]	
%}

{%
	set firstItem = items[0]
%}

<div class="photos-wrapper">
	<div class="photo-first field field--name-field-images field--type-image field--label-hidden">{{ firstItem.content }}</div>
	<div class="other-photos">
	{% for item in items %}
		{% if item != firstItem %}
			<div{{ item.attributes.addClass(classes) }}>{{ item.content }}</div>
		{% endif %}
	{% endfor %}
	</div>
</div>
