.page-footer {
    .disclaimer {
        font-size: 0.9rem;
        text-align: center;
        color: $white;
        background: darken($accent-color, 30%);
        padding: $spacing;

        a {
            color: $white;
        }
    }
}