.page-container {
  max-width: $breakpoint-max;
  margin: 0 auto;
  padding: $spacing;

  @include breakpoint($breakpoint-medium) {
    padding: $spacing $spacing-double;
  }

  .block-system-main-block {
    margin-bottom: $spacing;
  }
}

.path-user {
  .page-container {
    max-width: $breakpoint-large;
  }
}

.block-page-title-block h1 {
  text-align: center;
}