.region-header {
  height: 4rem;
  display: flex;
  max-width: $breakpoint-max;
  align-items: center;
  margin: 0 auto;
  flex-grow: 1;
  font-size: 1rem;

  @include breakpoint($breakpoint-medium) {
    padding-right: $spacing-double;
    flex-grow: 0;
  }
}

.toggle-button {
  a {
    height: $spacing * 4;
    width: $spacing * 4;
    color: $menu-link-color;
    position: absolute;
    top: 0;
    z-index: 9;
    border: none;
    display: block;
    text-align: center;
    font-size: 1.25rem;
    line-height: 3;
    cursor: pointer;

    &:hover {
      background: rgba(darken($accent-color, 30%), 0.8);
    }
  }

  @include breakpoint($breakpoint-medium) {
    display: none;
  }

  &.menu-toggler a {
    left: 0;
  }

  &.search-toggler a {
    right: 0;
  }
}